interactions:
- request:
    body: '{"limit": 100, "offset": 0, "name": "mt-org", "token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/organizations
  response:
    body:
      string: '{"meta":{"status":401,"request_params":{"limit":100,"offset":0,"name":"mt-org","token":"****","organization":{"name":"mt-org"}},"errors":[{"error_type":"unauthenticated","message":"User
        should be logged in"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 401
      message: Unauthorized
version: 1
