*.pyc
*.pyo
*.py~
*.egg*
.DS_Store
.idea
metastore_db
automl.json
automl-test-*.json
**/.azureml/config.json

# Testing artifacts
**/__pycache__/*
.pytest_cache/*
coverage/*
/htmlcov
/.cache
/.coverage*
/.env
/.tox
/.env
/.venv

# Development artifacts
/*.csv
/*.log
/test_*/*
**/aws-keys.yaml
**/logs/*
**/log/*
Session.vim
tags

# Setuptools distribution and build folders
/dist/
/build
/tmp
develop.env
