*.pyc
*.pyo
*.py~
*.egg*
.DS_Store
.idea
metastore_db
automl.json
automl-test-*.json
**/.azureml/config.json

# Testing artifacts
**/__pycache__/*
.pytest_cache/*
coverage/*
/htmlcov
/.cache
/.coverage*
/.env
/.tox
/.env
/.venv
.venv_client
/.vscode

# Development artifacts
/*.csv
/*.log
/test_*/*
**/aws-keys.yaml
**/logs/*
**/log/*
Session.vim
tags
*.tar
*.tar.gz

# Setuptools distribution and build folders
dist/
build/

develop.env
develop.client.env
tmp/

tests/fixtures/*.feather.zstd
tests/fixtures/*_predicted.csv
tests/fixtures/test_build_review_data/iris/predictions/*.parquet
tests/fixtures/test_clear_model_results_and_actuals/
tests/fixtures/test_delete_actuals/predictions/*.feather.zstd
tests/fixtures/test_distribution_chart_stats/callouts/predictions/*_full_data.feather.zstd
tests/fixtures/test_feature_divergence/**/*/density_model.pkl
tests/fixtures/test_predict_by_model/credit-g/predictions/*_results.feather.zstd
tests/fixtures/test_predict_by_model/iris/predictions/*_results.feather.zstd
tests/fixtures/test_score_actuals/another_result_first/predictions/*_actuals.feather.zstd
tests/fixtures/test_score_actuals/another_result_first/predictions/*_data.feather.zstd
tests/fixtures/test_score_actuals/categorical_convert/predictions/*_actuals.feather.zstd
tests/fixtures/test_score_actuals/categorical_convert/predictions/*_data.feather.zstd
tests/fixtures/test_score_actuals/iris/predictions/*_actuals.feather.zstd
tests/fixtures/test_score_actuals/iris/predictions/*_data.feather.zstd
tests/fixtures/test_score_actuals/lucas-iris/predictions/*_actuals.feather.zstd
tests/fixtures/test_score_actuals/lucas-iris/predictions/*_data.feather.zstd
tests/fixtures/test_score_actuals/pr_can/candidate/predictions/*_actuals.feather.zstd
tests/fixtures/test_score_actuals/pr_can/candidate/predictions/*_data.feather.zstd
tests/fixtures/test_score_actuals/predictions/*_actuals.feather.zstd
tests/fixtures/test_score_actuals/predictions/*_data.feather.zstd
tests/fixtures/predictions/
