A2ML_PROJECT_PATH=/app/tests/fixtures
#A2ML_PROJECT_PATH=s3://auger-demo-datasets/a2ml_app

A2ML_SERVER_ENDPOINT=http://a2ml-server:8000

AUGER_CREDENTIALS={"organization":"mt-org","api_url":"https://app-staging.auger.ai","token":"XXX"}

#alex-test-app service principal
AZURE_CREDENTIALS={"subscription_id":"XXX","directory_tenant_id":"XXX","application_client_id":"XXX","client_secret":"XXX"}
