AWS_ACCESS_KEY_ID=secret
AWS_SECRET_ACCESS_KEY=strongsecret
S3_ENDPOINT_URL=http//minio:9000

MINIO_ACCESS_KEY=secret
MINIO_SECRET_KEY=strongsecret

A2ML_PROJECT_PATH=s3://sample-bucket/workspace/projects/a2ml-app

BROKER_URL=amqp://guest:guest@rabbitmq
TEST_CALL_CELERY_TASKS=True