AWS_ACCESS_KEY_ID=secret
AWS_SECRET_ACCESS_KEY=strongsecret
S3_ENDPOINT_URL=http//minio:9000

MINIO_ACCESS_KEY=secret
MINIO_SECRET_KEY=strongsecret

HUB_APP_URL=https://app-staging.auger.ai
AUGER_PROJECT_API_TOKEN=token
AUGER_ORGANIZATION=mt-org

A2ML_PROJECT_PATH=./tests/fixtures
#A2ML_PROJECT_PATH=s3://auger-demo-datasets/a2ml_app

REDIS_HOST=redis
#BROKER_URL=amqp://guest:guest@rabbitmq
