AWS_ACCESS_KEY_ID=secret
AWS_SECRET_ACCESS_KEY=strongsecret
S3_ENDPOINT_URL=http//minio:9000

MINIO_ACCESS_KEY=secret
MINIO_SECRET_KEY=strongsecret

BROKER_URL=redis://redis:6379/0
NOTIFICATOR_REDIS_HOST=redis
NOTIFICATOR_REDIS_PORT=6379
