interactions:
- request:
    body: '{"limit": 100, "offset": 0, "name": "mt-org", "token": "c13ed2a9d03f17df5bc6448ab701d20c"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/organizations
  response:
    body:
      string: '{"data":[{"object":"organization","deleted":false,"id":97,"name":"mt-org","subdomain":"mt-org","main_bucket":"auger-mt-org-cinpns","status":"ready","cluster_mode":"multi_tenant","error_message":null,"created_at":"2019-05-09T23:16:04.971Z","updated_at":"2021-01-14T13:57:27.549Z","subscriptions":[{"object":"subscription","deleted":false,"id":80,"organization_id":97,"stripe_subscription_id":"sub_IdE3pgs9WBoEVQ","msg":null,"status":"active","canceled_at":null,"current_period_end":"2021-01-24T17:27:40.000Z","created_at":"2020-12-24T17:27:42.507Z","updated_at":"2020-12-29T18:40:34.930Z","plans":[{"object":"plan","deleted":false,"id":48,"name":"Custom
        Unlimited","interval":"month","amount":1000000.0,"currency":"USD","price":{"object":"money","amount":10000.0,"currency":"USD"},"platform":"review","level":"custom","stripe_plan_id":"price_1HVI5KJIjB5CQHn36giyn3vM","public":false,"active":true,"archived":false,"version":1,"max_team_users":null,"created_at":"2020-09-25T14:41:22.800Z","updated_at":"2020-09-29T14:34:41.129Z"},{"object":"plan","deleted":false,"id":20,"name":"Custom-Trial
        Worker-10000001","interval":"month","amount":10.0,"currency":"USD","price":{"object":"money","amount":0.1,"currency":"USD"},"platform":"all","level":"custom","stripe_plan_id":"plan_FpiIqHxUbdJiOq","public":false,"active":true,"archived":false,"version":10000001,"max_team_users":null,"created_at":"2019-09-18T13:26:05.094Z","updated_at":"2019-09-18T13:26:05.099Z"},{"object":"plan","deleted":false,"id":16,"name":"Custom-Monthly-10000001","interval":"month","amount":19900.0,"currency":"USD","price":{"object":"money","amount":199.0,"currency":"USD"},"platform":"cloud","level":"custom","stripe_plan_id":"plan_Fphl9Xey5zvwqC","public":false,"active":true,"archived":false,"version":10000001,"max_team_users":null,"created_at":"2019-09-18T12:38:54.460Z","updated_at":"2019-09-18T12:38:54.467Z"}],"payment_status":"succeeded","payment_id":"pi_1I1xbFJIjB5CQHn3F9tGm46o_secret_35DtXrYyoWWoay1NR9bK0sip2"}],"existing_customer":true,"included_trial_worker_minutes":0,"monthly_trial_worker_minutes_used":2667,"real_time_usage_minutes":0,"included_actual_counts":null,"monthly_actual_counts_used":2846385}],"meta":{"status":200,"pagination":{"limit":100,"offset":0,"count":1,"total":1}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"379663eb77cbd7aad00a91b83fa6c4d9"
    status:
      code: 200
      message: OK
- request:
    body: '{"limit": 100, "offset": 0, "organization_id": 97, "name": "my_app", "token":
      "c13ed2a9d03f17df5bc6448ab701d20c"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/projects
  response:
    body:
      string: '{"data":[],"meta":{"status":200,"pagination":{"limit":100,"offset":0,"count":0,"total":0}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"024aca38d2e35c261fa1da9305a8d909"
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "my_app", "organization_id": 97, "token": "c13ed2a9d03f17df5bc6448ab701d20c"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://app-staging.auger.ai/api/v1/projects
  response:
    body:
      string: '{"data":{"object":"project","deleted":false,"id":880,"name":"my_app","status":"undeployed","starter_user_id":null,"deleting":false,"deploy_progress":{"undeployed":0,"undeploying":0,"deploying":0,"deployed":0},"kube_service_port":null,"organization_id":97,"created_at":"2021-01-14T17:25:31.277Z","updated_at":"2021-01-14T17:25:31.277Z","components":[],"kubernetes_stack":"stable","default_kubernetes_stack":"stable","default_workers_count":2,"default_worker_type_id":1,"workers_count":2,"worker_type_id":1,"will_be_autoterminated_at":null,"search_space":null,"search_space_status":"not_requested"},"meta":{"status":200}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2b57df10c35ec7ffb058cafeafb1667c"
    status:
      code: 200
      message: OK
- request:
    body: '{"token": "c13ed2a9d03f17df5bc6448ab701d20c"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/projects/880
  response:
    body:
      string: '{"data":{"object":"project","deleted":false,"id":880,"name":"my_app","status":"undeployed","starter_user_id":null,"deleting":false,"deploy_progress":{"undeployed":0,"undeploying":0,"deploying":0,"deployed":0},"kube_service_port":null,"organization_id":97,"created_at":"2021-01-14T17:25:31.277Z","updated_at":"2021-01-14T17:25:31.765Z","components":[],"kubernetes_stack":"stable","default_kubernetes_stack":"stable","default_workers_count":2,"default_worker_type_id":1,"workers_count":2,"worker_type_id":1,"will_be_autoterminated_at":null,"search_space":null,"search_space_status":"not_requested"},"meta":{"status":200}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"82082297852e9154e62007596deb8c48"
    status:
      code: 200
      message: OK
- request:
    body: '{"project_id": 880, "file_path": "workspace/projects/my_app/files/Hoaq8TTFccHKuvtpZas7aK-iris.csv",
      "file_size": 3716, "async": true, "token": "c13ed2a9d03f17df5bc6448ab701d20c"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://app-staging.auger.ai/api/v1/project_file_urls
  response:
    body:
      string: '{"data":{"object":"cluster_task","deleted":false,"id":157963,"external_uid":null,"cluster_id":null,"project_id":880,"queue":null,"status":"pending","name":"a2ml.tasks_queue.tasks_hub_api.presign_s3_url_task","args":[{"data_path":null,"content_type":null,"provider_info":{"auger":{"project":{"deploy_cluster":{"type":"aci","memory_gb":2,"cpu_cores":1,"compute_target":"standard"}}}},"multipart":false,"method":"POST","bucket":"auger-mt-org-cinpns","key":"workspace/projects/my_app/files/Hoaq8TTFccHKuvtpZas7aK-iris-e1af44.csv","expires_in":900,"max_content_length":10737418240,"region":"us-west-2","kind":"external_post","provider":"auger","hub_info":{"dataset_manifest_id":null,"experiment_id":null,"experiment_name":null,"project_name":"my_app","project_path":"s3://auger-mt-org-cinpns/workspace/projects/my_app","project_file_id":null,"project_file":null,"experiment_session_id":null,"experiment_session":null,"pipeline_id":null,"prediction_id":null,"cluster_task_id":157963}}],"result":null,"exception":null},"meta":{"status":200}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"23272cd84d64b56080bee4e6fdcdd426"
    status:
      code: 200
      message: OK
- request:
    body: '{"object": "ClusterTask", "id": 157963, "token": "c13ed2a9d03f17df5bc6448ab701d20c"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/status
  response:
    body:
      string: '{"data":{"status":"pending"},"meta":{"status":200}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"435768e5e3b2a8d3070a4dbd9e10db55"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"token": "c13ed2a9d03f17df5bc6448ab701d20c"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/cluster_tasks/157963
  response:
    body:
      string: '{"data":{"object":"cluster_task","deleted":false,"id":157963,"external_uid":"e217ef27-356e-4e83-996e-852d735f47f1","cluster_id":5,"project_id":880,"queue":"a2ml","status":"success","name":"a2ml.tasks_queue.tasks_hub_api.presign_s3_url_task","args":[{"key":"workspace/projects/my_app/files/Hoaq8TTFccHKuvtpZas7aK-iris-e1af44.csv","kind":"external_post","bucket":"auger-mt-org-cinpns","method":"POST","region":"us-west-2","hub_info":{"pipeline_id":null,"project_file":null,"project_name":"my_app","project_path":"s3://auger-mt-org-cinpns/workspace/projects/my_app","experiment_id":null,"prediction_id":null,"cluster_task_id":157963,"experiment_name":null,"project_file_id":null,"experiment_session":null,"dataset_manifest_id":null,"experiment_session_id":null},"provider":"auger","data_path":null,"multipart":false,"expires_in":900,"content_type":null,"provider_info":{"auger":{"project":{"deploy_cluster":{"type":"aci","cpu_cores":1,"memory_gb":2,"compute_target":"standard"}}}},"max_content_length":10737418240}],"result":{"url":"https://auger-mt-org-cinpns.s3.us-west-2.amazonaws.com/","bucket":"auger-mt-org-cinpns","fields":{"key":"workspace/projects/my_app/files/Hoaq8TTFccHKuvtpZas7aK-iris-e1af44.csv","policy":"eyJleHBpcmF0aW9uIjogIjIwMjEtMDEtMTRUMTc6NDA6MzlaIiwgImNvbmRpdGlvbnMiOiBbeyJzdWNjZXNzX2FjdGlvbl9zdGF0dXMiOiAiMjAwIn0sIFsiY29udGVudC1sZW5ndGgtcmFuZ2UiLCAwLCAxMDczNzQxODI0MF0sIHsiYnVja2V0IjogImF1Z2VyLW10LW9yZy1jaW5wbnMifSwgeyJrZXkiOiAid29ya3NwYWNlL3Byb2plY3RzL215X2FwcC9maWxlcy9Ib2FxOFRURmNjSEt1dnRwWmFzN2FLLWlyaXMtZTFhZjQ0LmNzdiJ9LCB7IngtYW16LWFsZ29yaXRobSI6ICJBV1M0LUhNQUMtU0hBMjU2In0sIHsieC1hbXotY3JlZGVudGlhbCI6ICJBU0lBWTRKQzJNS1ZBVFBOT0xSNC8yMDIxMDExNC91cy13ZXN0LTIvczMvYXdzNF9yZXF1ZXN0In0sIHsieC1[...]
- request:
    body: "--9997b09322f099dbe960b94b93768925\r\nContent-Disposition: form-data; name=\"\
      key\"\r\n\r\nworkspace/projects/my_app/files/Hoaq8TTFccHKuvtpZas7aK-iris-e1af44.csv\r\
      \n--9997b09322f099dbe960b94b93768925\r\nContent-Disposition: form-data; name=\"\
      policy\"\r\n\r\neyJleHBpcmF0aW9uIjogIjIwMjEtMDEtMTRUMTc6NDA6MzlaIiwgImNvbmRpdGlvbnMiOiBbeyJzdWNjZXNzX2FjdGlvbl9zdGF0dXMiOiAiMjAwIn0sIFsiY29udGVudC1sZW5ndGgtcmFuZ2UiLCAwLCAxMDczNzQxODI0MF0sIHsiYnVja2V0IjogImF1Z2VyL[...]
- request:
    body: '{"limit": 100, "offset": 0, "project_id": 880, "token": "c13ed2a9d03f17df5bc6448ab701d20c"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/project_files
  response:
    body:
      string: '{"data":[],"meta":{"status":200,"pagination":{"limit":100,"offset":0,"count":0,"total":0}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"024aca38d2e35c261fa1da9305a8d909"
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "iris.csv", "project_id": 880, "file_name": "iris.csv", "url":
      "s3://auger-mt-org-cinpns/workspace/projects/my_app/files/Hoaq8TTFccHKuvtpZas7aK-iris-e1af44.csv",
      "token": "c13ed2a9d03f17df5bc6448ab701d20c"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://app-staging.auger.ai/api/v1/project_files
  response:
    body:
      string: '{"data":{"object":"project_file","deleted":false,"id":3273,"project_id":880,"name":"iris.csv","url":"s3://auger-mt-org-cinpns/workspace/projects/my_app/files/Hoaq8TTFccHKuvtpZas7aK-iris-e1af44.csv","content_type":null,"status":"processing","image_url":null,"industry":null,"description":null,"error_message":null,"created_at":"2021-01-14T17:25:52.898Z","updated_at":"2021-01-14T17:25:53.274Z","providers":["auger","azure"],"providers_data":{"azure":null,"auger":null},"statistics":null},"meta":{"status":200}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"92d6aaf7ebb2cf5c46f99069b1802d21"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"token": "c13ed2a9d03f17df5bc6448ab701d20c"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/project_files/3273
  response:
    body:
      string: '{"data":{"object":"project_file","deleted":false,"id":3273,"project_id":880,"name":"iris.csv","url":"s3://auger-mt-org-cinpns/workspace/projects/my_app/files/Hoaq8TTFccHKuvtpZas7aK-iris-e1af44.csv","content_type":null,"status":"processed","image_url":null,"industry":null,"description":null,"error_message":null,"created_at":"2021-01-14T17:25:52.898Z","updated_at":"2021-01-14T17:27:36.003Z","providers":["auger","azure"],"providers_data":{"azure":{"url":"Hoaq8TTFccHKuvtpZas7aK-iris-e1af44.csv"},"auger":null},"statistics":{"count":150,"data_path":"s3://auger-mt-org-cinpns/workspace/projects/my_app/files/Hoaq8TTFccHKuvtpZas7aK-iris-e1af44.csv","stat_data":[{"avg":5.843333,"use":true,"range":["4.30","7.90"],"std_dev":0.828066,"datatype":"double","isTarget":false,"histogram":{"hist":[9,23,14,27,16,26,18,6,5,6],"bin_edges":[4.3,4.66,5.02,5.38,5.74,6.1,6.46,6.82,7.18,7.54,7.9]},"column_name":"sepal_length","orig_datatype":"double","unique_values":35},{"avg":3.054,"use":true,"range":["2.00","4.40"],"std_dev":0.433594,"datatype":"double","isTarget":false,"histogram":{"hist":[4,7,22,24,38,31,9,11,2,2],"bin_edges":[2.0,2.24,2.48,2.72,2.96,3.2,3.44,3.6800000000000006,3.92,4.16,4.4]},"column_name":"sepal_width","orig_datatype":"double","unique_values":23},{"avg":3.758667,"use":true,"range":["1.00","6.90"],"std_dev":1.76442,"datatype":"double","isTarget":false,"histogram":{"hist":[37,13,0,3,8,26,29,18,11,5],"bin_edges":[1.0,1.59,2.18,2.77,3.36,3.95,4.540000000000001,5.130000000000001,5.720000000000001,6.31,6.9]},"column_name":"petal_length","orig_datatype":"double","unique_values":43},{"avg":1.198667,"use":true,"range":["0.10","2.50"],"std_dev":0.763161,"datatype":"double","isTarget":false,"histogram":{"hist":[41,8,1,7,8,33,6,23,9,14],"bin_edges":[0.1,0.34,0.58,0.82,1.06,1.3,1.54,1.78,2.02,2.26,2.5]},"column_name":"petal_width","orig_datatype":"double","unique_values":22},{"use":true,"datatype":"categorical","isTarget":false,"column_name":"species","value_counts":{"setosa":50,"virginica":50,"versicolor":50},"orig_datatype":"string","unique_values":3,"value_counts_ex":[{"count":50,"value":"setosa"},{"count":50,"value":"versicolor"},{"count":50,"value":"virginica"}]}],"columns_count":5}},"meta":{"status":200}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24e089dd97b46bee4648253cd93822f6"
    status:
      code: 200
      message: OK
version: 1
