interactions:
- request:
    body: '{"limit": 100, "offset": 0, "name": "mt-org", "token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/organizations
  response:
    body:
      string: '{"data":[{"object":"organization","deleted":false,"id":97,"name":"mt-org","subdomain":"mt-org","main_bucket":"auger-mt-org-cinpns","status":"ready","cluster_mode":"multi_tenant","error_message":null,"created_at":"2019-05-09T23:16:04.971Z","updated_at":"2020-05-11T18:48:27.604Z","subscriptions":[{"object":"subscription","deleted":false,"id":31,"organization_id":97,"stripe_subscription_id":"sub_GneSyphbhHzYt9","msg":null,"status":"active","canceled_at":null,"current_period_end":"2020-05-25T13:09:14.000Z","created_at":"2020-02-25T13:09:16.279Z","updated_at":"2020-04-25T17:16:16.176Z","plans":[{"object":"plan","deleted":false,"id":16,"name":"Custom-Monthly-10000001","interval":"month","amount":19900.0,"currency":"USD","price":{"object":"money","amount":199.0,"currency":"USD"},"platform":"cloud","level":"custom","stripe_plan_id":"plan_Fphl9Xey5zvwqC","public":false,"active":true,"archived":false,"version":10000001,"max_team_users":null,"created_at":"2019-09-18T12:38:54.460Z","updated_at":"2019-09-18T12:38:54.467Z"},{"object":"plan","deleted":false,"id":20,"name":"Custom-Trial
        Worker-10000001","interval":"month","amount":10.0,"currency":"USD","price":{"object":"money","amount":0.1,"currency":"USD"},"platform":"all","level":"custom","stripe_plan_id":"plan_FpiIqHxUbdJiOq","public":false,"active":true,"archived":false,"version":10000001,"max_team_users":null,"created_at":"2019-09-18T13:26:05.094Z","updated_at":"2019-09-18T13:26:05.099Z"}],"payment_status":"succeeded","payment_id":""}],"existing_customer":true,"included_trial_worker_minutes":0,"monthly_trial_worker_minutes_used":1063,"real_time_usage_minutes":0}],"meta":{"status":200,"pagination":{"limit":100,"offset":0,"count":1,"total":1}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c2f17daf56d2ff3783e6b6f0cb9ad6e"
    status:
      code: 200
      message: OK
- request:
    body: '{"limit": 100, "offset": 0, "organization_id": 97, "name": "my_app", "token":
      "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/projects
  response:
    body:
      string: '{"data":[{"object":"project","deleted":false,"id":821,"name":"my_app","status":"running","starter_user_id":20,"deleting":false,"deploy_progress":{"undeployed":0,"undeploying":0,"deploying":0,"deployed":2},"kube_service_port":null,"organization_id":97,"created_at":"2020-03-26T13:36:44.506Z","updated_at":"2020-05-07T17:32:02.537Z","components":[{"object":"component","deleted":false,"id":22014,"name":"credentials","status":"running","cluster_id":5,"project_id":821,"created_at":"2020-05-07T17:31:51.239Z","updated_at":"2020-05-07T17:31:57.467Z"},{"object":"component","deleted":false,"id":22015,"name":"augerml","status":"running","cluster_id":5,"project_id":821,"created_at":"2020-05-07T17:31:51.339Z","updated_at":"2020-05-07T17:32:02.455Z"}],"default_kubernetes_stack":"experimental","default_workers_count":1,"default_worker_type_id":1,"workers_count":1,"worker_type_id":1,"will_be_autoterminated_at":null,"search_space":{"version":1,"optimizers_space":{"auger_ml.optimizers.pso_optimizer.PSOOptimizer":{"phig":0.5,"phip":0.5,"omega":0.5},"auger_ml.warmstart_optimizer.WarmStartOptimizer":{"num_trials":0},"auger_ml.optimizers.de_optimizer.DESaturationOptimizer":{"phi":0.5,"rho":0.7},"auger_ml.optimizers.de_optimizer.DEEliminationOptimizer":{"phi":0.5,"rho":0.7},"auger_ml.optimizers.skopt_base_optimizer.SkOptBaseOptimizer":{"acq_func":"gp_hedge","batch_size":5,"acq_optimizer":"sampling","base_estimator":"GP"},"auger_ml.optimizers.skopt_async_optimizer.SkOptAsyncOptimizer":{"acq_func":"gp_hedge","batch_size":5,"acq_optimizer":"sampling","base_estimator":"GP"},"auger_ml.optimizers.tpe_hyperopt_optimizer.TPEHyperoptOptimizer":{"batch_size":5},"auger_ml.optimizers.hyperopt_async_optimizer.HyperoptAsyncOptimizer":{"batch_size":5},"auger_ml.optimizers.anneal_hyperopt_optimizer.AnnealHyperoptOptimizer":{"batch_size":5},"auger_ml.optimizers.random_search_hyperopt_optimizer.RandomSearchHyperoptOptimizer":{"batch_size":5}},"user_config_dict":{"model_type":"classification","model_group":{"regression":{"k_folds":3,"scoring":"r2","selectors":{},"model_type":"regression","learning_algorithms":{"sklearn.svm.SVR":{"C":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"gamma":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"degree":{"log":false,"type":"int","bounds":[1,5],"tunable":true},"kernel":{"type":"categorical","values":["rbf","sigmoid","poly"],"tunable":true},"epsilon":{"log":true,"type":"float","bounds":[0.0001,1.0],"tunable":true}},"xgboost.XGBRegressor":{"gamma":{"log":true,"type":"float","bounds":[0.001,10.0],"tunable":true},"max_depth":{"log":false,"type":"int","bounds":[3,10],"tunable":true},"objective":{"type":"categorical","values":["reg:squarederror"],"tunable":false},"reg_alpha":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"subsample":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"reg_lambda":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[60,600],"tunable":true},"learning_rate":{"log":false,"type":"float","bounds":[0.01,0.2],"tunable":true},"colsample_bytree":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"min_child_weight":{"log":false,"type":"int","bounds":[1,10],"tunable":true}},"lightgbm.LGBMRegressor":{"silent":{"type":"categorical","values":[-1],"tunable":false},"verbose":{"type":"categorical","values":[-1],"tunable":false},"max_depth":{"log":false,"type":"int","bounds":[3,10],"tunable":true},"reg_alpha":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"subsample":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"num_leaves":{"log":false,"type":"int","bounds":[16,64],"tunable":true},"reg_lambda":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[200,1600],"tunable":true},"learning_rate":{"log":false,"type":"float","bounds":[0.01,0.3],"tunable":true},"colsample_bytree":{"log":false,"type":"float","bounds":[0.6,1.0],"tunable":true}},"sklearn.linear_model.ElasticNet":{"alpha":{"log":false,"type":"float","bounds":[0.0001,1.0],"tunable":true},"l1_ratio":{"log":false,"type":"float","bounds":[0.0001,1.0],"tunable":true}},"sklearn.linear_model.SGDRegressor":{"loss":{"type":"categorical","values":["huber","squared_loss","epsilon_insensitive"],"tunable":true},"alpha":{"log":true,"type":"float","bounds":[1e-05,10.0],"tunable":true},"penalty":{"type":"categorical","values":["l2","l1","elasticnet"],"tunable":true}},"sklearn.ensemble.AdaBoostRegressor":{"loss":{"type":"categorical","values":["linear","square","exponential"],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"learning_rate":{"log":true,"type":"float","bounds":[0.001,1.0],"tunable":true}},"sklearn.tree.DecisionTreeRegressor":{"max_depth":{"log":false,"type":"int","bounds":[1,10],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"sklearn.ensemble.ExtraTreesRegressor":{"bootstrap":{"type":"categorical","values":[false,true],"tunable":true},"max_features":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"sklearn.ensemble.RandomForestRegressor":{"bootstrap":{"type":"categorical","values":[true,false],"tunable":true},"criterion":{"type":"categorical","values":["mse","mae"],"tunable":true},"max_features":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"sklearn.ensemble.GradientBoostingRegressor":{"loss":{"type":"categorical","values":["ls","lad"],"tunable":true},"max_depth":{"log":false,"type":"int","bounds":[1,10],"tunable":true},"subsample":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"max_features":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"learning_rate":{"log":true,"type":"float","bounds":[0.001,1.0],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"auger_ml.algorithms.cat_boost.CatBoostRegressor":{"rsm":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"depth":{"log":false,"type":"int","bounds":[3,10],"tunable":true},"l2_leaf_reg":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"border_count":{"log":false,"type":"int","bounds":[16,128],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[100,800],"tunable":true},"learning_rate":{"log":false,"type":"float","bounds":[0.01,0.3],"tunable":true},"loss_function":{"type":"categorical","values":["RMSE"],"tunable":false},"model_size_reg":{"log":true,"type":"float","bounds":[0.001,10.0],"tunable":true},"allow_writing_files":{"type":"categorical","values":[false],"tunable":false},"feature_border_type":{"type":"categorical","values":["Median","UniformAndQuantiles","GreedyLogSum","MaxLogSum","MinEntropy"],"tunable":true}}},"preprocessors_space":[{"date_time.DateTimePreprocessor":{"auger_enabled":true}},{"categorical.CategoricalPreprocessor":{"auger_enabled":true,"max_categoricals_nunique":{"type":"int","bounds":[1,null],"default":50}}},{"nan.NanPreprocessor":{"thresh_col":{"type":"float","bounds":[0.0,1.0],"default":0.95},"auger_enabled":true}},{"eliminate.EliminatePreprocessor":{"thresh_var":{"type":"float","bounds":[0.0,1.0],"default":0.05},"auger_enabled":true}},{"sparse.SparsePreprocessor":{"n_comp_frac":{"type":"float","bounds":[0.1,1.0],"default":0.2},"auger_enabled":true,"thresh_sparse":{"type":"float","bounds":[0.1,1.0],"default":0.95}}},{"extra.ExtraPreprocessor":{"auger_enabled":true}},{"scale.ScalePreprocessor":{"auger_enabled":true}},{"dim_reduction.DimReductionPreprocessor":{"alg_name":{"type":"categorical","values":["PCA","t-SNE"],"default":"PCA"},"n_components":{"type":"int","bounds":[1,null],"default":2},"auger_enabled":false}}],"search_space_ensembles":{"auger_ml.ensembles.algorithms.AveragingAlgorithmRegressor":{"n_best":3,"weights":null},"auger_ml.ensembles.algorithms.SuperLearnerAlgorithmRegressor":{"method":"nnls","opt_trials":3}}},"timeseries":{"k_folds":3,"scoring":"r2","selectors":{},"model_type":"timeseries","learning_algorithms":{"sklearn.svm.SVR":{"C":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"gamma":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"degree":{"log":false,"type":"int","bounds":[1,5],"tunable":true},"kernel":{"type":"categorical","values":["rbf","sigmoid","poly"],"tunable":true},"epsilon":{"log":true,"type":"float","bounds":[0.0001,1.0],"tunable":true}},"xgboost.XGBRegressor"[...]
- request:
    body: '{"token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/projects/821
  response:
    body:
      string: '{"data":{"object":"project","deleted":false,"id":821,"name":"my_app","status":"running","starter_user_id":20,"deleting":false,"deploy_progress":{"undeployed":0,"undeploying":0,"deploying":0,"deployed":2},"kube_service_port":null,"organization_id":97,"created_at":"2020-03-26T13:36:44.506Z[...]
- request:
    body: '{"token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/organizations/97
  response:
    body:
      string: '{"data":{"object":"organization","deleted":false,"id":97,"name":"mt-org","subdomain":"mt-org","main_bucket":"auger-mt-org-cinpns","status":"ready","cluster_mode":"multi_tenant","error_message":null,"created_at":"2019-05-09T23:16:04.971Z","updated_at":"2020-05-11T18:48:27.604Z","subsc[...]
- request:
    body: '{"project_id": 821, "file_path": "workspace/projects/my_app/files/3XoGpzbo64gV9mfNiZUVJh-iris.csv",
      "file_size": 3716, "token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://app-staging.auger.ai/api/v1/project_file_urls
  response:
    body:
      string: '{"data":{"fields":{"key":"workspace/projects/my_app/files/3XoGpzbo64gV9mfNiZUVJh-iris-442e48.csv","success_action_status":"200","policy":"eyJleHBpcmF0aW9uIjoiMjAyMC0wNS0xMlQxMjo0MjoyN1oiLCJjb25kaXRpb25zIjpbeyJidWNrZXQiOiJhdWdlci1tdC1vcmctY2lucG5zIn0seyJrZXkiOiJ3b3Jrc3BhY2UvcHJvamVjdHMvbXlfYXBwL2ZpbGVzLzNYb0dwemJvNjRnVjltZk5pWlVWSmgtaXJpcy00NDJlNDguY3N2In0seyJzdWNjZXNzX2FjdGlvbl9zdGF0dXMiOiIyMDAifSxbImNvbnRlbnQtbGVuZ3RoLXJhbmdlIiwwLDEwNzM3NDE4MjQwXSx7IngtYW16LWNyZWRlbnRpYWwiOiJBU0lBWTRKQzJNS1ZNWk9FQ0Q2Ui8yMDIwMDUxMi91cy13ZXN0LTIvczMvYXdzNF9yZXF1ZXN0In0seyJ4LWFtei1hbGdvcml0aG0iOiJBV1M0LUhNQUMtU0hBMjU2In0seyJ4LWFtei1kYXRlIjoiMjAyMDA1MTJUMTIyNzI3WiJ9LHsieC1hbXotc2VjdXJpdHktdG9rZW4iOiJGd29HWlhJdllYZHpFQTRhREtaTXEvNC96cTRZVW1wZWVTTGlBVEFlTzQ3RTZxRldFZEFWQTZnb1I5T3RNYjZHMmlNbkMxaWE3NGVQYlJha1BNZmw5SDFGSnV2L1VkWnpMQXhCc3p2TGJjdXdrZjFjV3l0ZzE4Z1dCZTZ5aFVwR2k0Mmtwa3JoM1JEbW1kdDRpNTFPdG8yeEhPdGJORWVUYUd1eXVpQjBBMWo2NDJWQmdMSmxxU0pnUzk4eVpZRFdIL1JLK0xCakZ6K2tuc3FCaFJmSFAvNCt2UTZFTDJVcGlPYktPVkJtaVhFRUVqSVQwSy9TMWsrOVNnb0lqdmlRQTVTSHpTUzBRbStxNHlpekZFVncvdXhyRW9ydHFzeW5rZkNaVk5kYjM1SDlPdGJyRUVLdTNIaHF0cG4ra1JJdmZVTWtyNlcrMHBOL2FJS1NQZG9vcjZ6cTlRVXlMYkhpWDVRK0ZhV3VFNkR6Ti9mN1lnVHBlQjJ2VVhQSkV3UzZKTm9yZVZoRkZGMzV3cEczKzdXc0l1NmtPdz09In1dfQ==","x-amz-credential":"ASIAY4JC2MKVMZOECD6R/20200512/us-west-2/s3/aws4_request","x-amz-algorithm":"AWS4-HMAC-SHA256","x-amz-date":"20200512T122727Z","x-amz-security-token":"FwoGZXIvYXdzEA4aDKZMq/4/zq4YUmpeeSLiATAeO47E6qFWEdAVA6goR9OtMb6G2iMnC1ia74ePbRakPMfl9H1FJuv/UdZzLAxBszvLbcuwkf1cWytg18gWBe6yhUpGi42kpkrh3RDmmdt4i51Oto2xHOtbNEeTaGuyuiB0A1j642VBgLJlqSJgS98yZYDWH/RK+LBjFz+knsqBhRfHP/4+vQ6EL2UpiObKOVBmiXEEEjIT0K/S1k+9SgoIjviQA5SHzSS0Qm+q4yizFEVw/uxrEortqsynkfCZVNdb35H9OtbrEEKu3Hhqtpn+kRIvfUMkr6W+0pN/aIKSPdoor6zq9QUyLbHiX5Q+FaWuE6DzN/f7YgTpeB2vUXPJEwS6JNoreVhFFF35wpG3+7WsIu6kOw==","x-amz-signature":"39f9a7117fc4981e10918bac26ca4f2d449f75dac7bb75799b719cf71a5b6336"},"url":"https://auger-mt-org-cinpns.s3.us-west-2.amazonaws.com","bucket":"auger-mt-org-cinpns"},"meta":{"status":200}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5dd8e1a82cad619a299850d2a78998eb"
    status:
      code: 200
      message: OK
- request:
    body: "--49d77793e8ec7f795c33f5d08b859187\r\nContent-Disposition: form-data; name=\"key\"\r\n\r\nworkspace/projects/my_app/files/3XoGpzbo64gV9mfNiZUVJh-iris-442e48.csv\r\n--49d77793e8ec7f795c33f5d08b859187\r\nContent-Disposition:
      form-data; name=\"success_action_status\"\r\n\r\n200\r\n--49d77793e8ec7f795c33f5d08b859187\r\nContent-Disposition:
      form-data; name=\"policy\"\r\n\r\neyJleHBpcmF0aW9uIjoiMjAyMC0wNS0xMlQxMjo0MjoyN1oiLCJjb25kaXRpb25zIjpbeyJidWNrZXQiOiJhdWdlci1tdC[...]
- request:
    body: '{"limit": 100, "offset": 0, "project_id": 821, "token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/project_files
  response:
    body:
      string: '{"data":[{"object":"project_file","deleted":false,"id":2775,"project_id":821,"name":"options-2ab550e6.csv.gz","url":"s3://auger-mt-org-cinpns/workspace/projects/my_app/files/jPzFcjEQ7KhmGsceD3HJyY-options-2ab550e6-82824b.csv.gz","content_type":null,"status":"processed","image_url":null,"industry":null,"description":null,"statistics":{"count":690616,"stat_data":[{"use":true,"range":["0.01","451.02"],"datatype":"double","isTarget":false,"histogram":{"hist":[548786,81719,31204,16372,6132,2218,2412,1395,341,37],"bin_edges":[0.01,45.111,90.212,135.313,180.414,225.515,270.616,315.717,360.818,405.919,451.02]},"column_name":"prev_price","orig_datatype":"double","unique_values":15254},{"use":true,"range":["0.01","451.02"],"datatype":"double","isTarget":false,"histogram":{"hist":[549402,81013,31082,16441,6182,2173,2442,1471,378,32],"bin_edges":[0.01,45.111,90.212,135.313,180.414,225.515,270.616,315.717,360.818,405.919,451.02]},"column_name":"next_price","orig_datatype":"double","unique_values":15133},{"use":true,"range":["8.99","2009.90"],"datatype":"double","isTarget":false,"histogram":{"hist":[241337,122100,40635,25358,14946,131956,14523,4486,36907,58368],"bin_edges":[...]
- request:
    body: '{"name": "iris-13.csv", "project_id": 821, "file_name": "iris.csv", "url":
      "s3://auger-mt-org-cinpns/workspace/projects/my_app/files/3XoGpzbo64gV9mfNiZUVJh-iris-442e48.csv",
      "token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://app-staging.auger.ai/api/v1/project_files
  response:
    body:
      string: '{"data":{"object":"project_file","deleted":false,"id":2812,"project_id":821,"name":"iris-13.csv","url":"s3://auger-mt-org-cinpns/workspace/projects/my_app/files/3XoGpzbo64gV9mfNiZUVJh-iris-442e48.csv","content_type":null,"status":"processing","image_url":null,"industry":null,"description":null,"statistics":null,"error_message":null,"created_at":"2020-05-12T12:27:32.005Z","updated_at":"2020-05-12T12:27:32.050Z"},"meta":{"status":200}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3709ae1b7aeb7fbde4533603e263a1aa"
    status:
      code: 200
      message: OK
- request:
    body: '{"object": "ProjectFile", "id": 2812, "token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/status
  response:
    body:
      string: '{"data":{"status":"processed"},"meta":{"status":200}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"08efcf7f8e80384a24a1117641cc8ead"
    status:
      code: 200
      message: OK
- request:
    body: '{"token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/project_files/2812
  response:
    body:
      string: '{"data":{"object":"project_file","deleted":false,"id":2812,"project_id":821,"name":"iris-13.csv","url":"s3://auger-mt-org-cinpns/workspace/projects/my_app/files/3XoGpzbo64gV9mfNiZUVJh-iris-442e48.csv","content_type":null,"status":"processed","image_url":null,"industry":null,"descri[...]
