interactions:
- request:
    body: '{"limit": 100, "offset": 0, "name": "mt-org", "token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/organizations
  response:
    body:
      string: '{"data":[{"object":"organization","deleted":false,"id":97,"name":"mt-org","subdomain":"mt-org","main_bucket":"auger-mt-org-cinpns","status":"ready","cluster_mode":"multi_tenant","error_message":null,"created_at":"2019-05-09T23:16:04.971Z","updated_at":"2020-05-11T18:48:27.604Z","subscriptions":[{"object":"subscription","deleted":false,"id":31,"organization_id":97,"stripe_subscription_id":"sub_GneSyphbhHzYt9","msg":null,"status":"active","canceled_at":null,"current_period_end":"2020-05-25T13:09:14.000Z","created_at":"2020-02-25T13:09:16.279Z","updated_at":"2020-04-25T17:16:16.176Z","plans":[{"object":"plan","deleted":false,"id":16,"name":"Custom-Monthly-10000001","interval":"month","amount":19900.0,"currency":"USD","price":{"object":"money","amount":199.0,"currency":"USD"},"platform":"cloud","level":"custom","stripe_plan_id":"plan_Fphl9Xey5zvwqC","public":false,"active":true,"archived":false,"version":10000001,"max_team_users":null,"created_at":"2019-09-18T12:38:54.460Z","updated_at":"2019-09-18T12:38:54.467Z"},{"object":"plan","deleted":false,"id":20,"name":"Custom-Trial
        Worker-10000001","interval":"month","amount":10.0,"currency":"USD","price":{"object":"money","amount":0.1,"currency":"USD"},"platform":"all","level":"custom","stripe_plan_id":"plan_FpiIqHxUbdJiOq","public":false,"active":true,"archived":false,"version":10000001,"max_team_users":null,"created_at":"2019-09-18T13:26:05.094Z","updated_at":"2019-09-18T13:26:05.099Z"}],"payment_status":"succeeded","payment_id":""}],"existing_customer":true,"included_trial_worker_minutes":0,"monthly_trial_worker_minutes_used":1063,"real_time_usage_minutes":0}],"meta":{"status":200,"pagination":{"limit":100,"offset":0,"count":1,"total":1}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c2f17daf56d2ff3783e6b6f0cb9ad6e"
    status:
      code: 200
      message: OK
- request:
    body: '{"limit": 100, "offset": 0, "organization_id": 97, "name": "my_app", "token":
      "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/projects
  response:
    body:
      string: '{"data":[{"object":"project","deleted":false,"id":821,"name":"my_app","status":"running","starter_user_id":20,"deleting":false,"deploy_progress":{"undeployed":0,"undeploying":0,"deploying":0,"deployed":2},"kube_service_port":null,"organization_id":97,"created_at":"2020-03-26T13:36:44.506Z","updated_at":"2020-05-12T12:42:58.037Z","components":[{"object":"component","deleted":false,"id":22014,"name":"credentials","status":"running","cluster_id":5,"project_id":821,"created_at":"2020-05-07T17:31:51.239Z","updated_at":"2020-05-07T17:31:57.467Z"},{"object":"component","deleted":false,"id":22015,"name":"augerml","status":"running","cluster_id":5,"project_id":821,"created_at":"2020-05-07T17:31:51.339Z","updated_at":"2020-05-07T17:32:02.455Z"}],"default_kubernetes_stack":"experimental","default_workers_count":1,"default_worker_type_id":1,"workers_count":1,"worker_type_id":1,"will_be_autoterminated_at":null,"search_space":{"version":1,"optimizers_space":{"auger_ml.optimizers.pso_optimizer.PSOOptimizer":{"phig":0.5,"phip":0.5,"omega":0.5},"auger_ml.warmstart_optimizer.WarmStartOptimizer":{"num_trials":0},"auger_ml.optimizers.de_optimizer.DESaturationOptimizer":{"phi":0.5,"rho":0.7},"auger_ml.optimizers.de_optimizer.DEEliminationOptimizer":{"phi":0.5,"rho":0.7},"auger_ml.optimizers.skopt_base_optimizer.SkOptBaseOptimizer":{"acq_func":"gp_hedge","batch_size":5,"acq_optimizer":"sampling","base_estimator":"GP"},"auger_ml.optimizers.skopt_async_optimizer.SkOptAsyncOptimizer":{"acq_func":"gp_hedge","batch_size":5,"acq_optimizer":"sampling","base_estimator":"GP"},"auger_ml.optimizers.tpe_hyperopt_optimizer.TPEHyperoptOptimizer":{"batch_size":5},"auger_ml.optimizers.hyperopt_async_optimizer.HyperoptAsyncOptimizer":{"batch_size":5},"auger_ml.optimizers.anneal_hyperopt_optimizer.AnnealHyperoptOptimizer":{"batch_size":5},"auger_ml.optimizers.random_search_hyperopt_optimizer.RandomSearchHyperoptOptimizer":{"batch_size":5}},"user_config_dict":{"model_type":"classification","model_group":{"regression":{"k_folds":3,"scoring":"r2","selectors":{},"model_type":"regression","learning_algorithms":{"sklearn.svm.SVR":{"C":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"gamma":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"degree":{"log":false,"type":"int","bounds":[1,5],"tunable":true},"kernel":{"type":"categorical","values":["rbf","sigmoid","poly"],"tunable":true},"epsilon":{"log":true,"type":"float","bounds":[0.0001,1.0],"tunable":true}},"xgboost.XGBRegressor":{"gamma":{"log":true,"type":"float","bounds":[0.001,10.0],"tunable":true},"max_depth":{"log":false,"type":"int","bounds":[3,10],"tunable":true},"objective":{"type":"categorical","values":["reg:squarederror"],"tunable":false},"reg_alpha":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"subsample":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"reg_lambda":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[60,600],"tunable":true},"learning_rate":{"log":false,"type":"float","bounds":[0.01,0.2],"tunable":true},"colsample_bytree":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"min_child_weight":{"log":false,"type":"int","bounds":[1,10],"tunable":true}},"lightgbm.LGBMRegressor":{"silent":{"type":"categorical","values":[-1],"tunable":false},"verbose":{"type":"categorical","values":[-1],"tunable":false},"max_depth":{"log":false,"type":"int","bounds":[3,10],"tunable":true},"reg_alpha":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"subsample":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"num_leaves":{"log":false,"type":"int","bounds":[16,64],"tunable":true},"reg_lambda":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[200,1600],"tunable":true},"learning_rate":{"log":false,"type":"float","bounds":[0.01,0.3],"tunable":true},"colsample_bytree":{"log":false,"type":"float","bounds":[0.6,1.0],"tunable":true}},"sklearn.linear_model.ElasticNet":{"alpha":{"log":false,"type":"float","bounds":[0.0001,1.0],"tunable":true},"l1_ratio":{"log":false,"type":"float","bounds":[0.0001,1.0],"tunable":true}},"sklearn.linear_model.SGDRegressor":{"loss":{"type":"categorical","values":["huber","squared_loss","epsilon_insensitive"],"tunable":true},"alpha":{"log":true,"type":"float","bounds":[1e-05,10.0],"tunable":true},"penalty":{"type":"categorical","values":["l2","l1","elasticnet"],"tunable":true}},"sklearn.ensemble.AdaBoostRegressor":{"loss":{"type":"categorical","values":["linear","square","exponential"],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"learning_rate":{"log":true,"type":"float","bounds":[0.001,1.0],"tunable":true}},"sklearn.tree.DecisionTreeRegressor":{"max_depth":{"log":false,"type":"int","bounds":[1,10],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"sklearn.ensemble.ExtraTreesRegressor":{"bootstrap":{"type":"categorical","values":[false,true],"tunable":true},"max_features":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"sklearn.ensemble.RandomForestRegressor":{"bootstrap":{"type":"categorical","values":[true,false],"tunable":true},"criterion":{"type":"categorical","values":["mse","mae"],"tunable":true},"max_features":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"sklearn.ensemble.GradientBoostingRegressor":{"loss":{"type":"categorical","values":["ls","lad"],"tunable":true},"max_depth":{"log":false,"type":"int","bounds":[1,10],"tunable":true},"subsample":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"max_features":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"learning_rate":{"log":true,"type":"float","bounds":[0.001,1.0],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"auger_ml.algorithms.cat_boost.CatBoostRegressor":{"rsm":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"depth":{"log":false,"type":"int","bounds":[3,10],"tunable":true},"l2_leaf_reg":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"border_count":{"log":false,"type":"int","bounds":[16,128],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[100,800],"tunable":true},"learning_rate":{"log":false,"type":"float","bounds":[0.01,0.3],"tunable":true},"loss_function":{"type":"categorical","values":["RMSE"],"tunable":false},"model_size_reg":{"log":true,"type":"float","bounds":[0.001,10.0],"tunable":true},"allow_writing_files":{"type":"categorical","values":[false],"tunable":false},"feature_border_type":{"type":"categorical","values":["Median","UniformAndQuantiles","GreedyLogSum","MaxLogSum","MinEntropy"],"tunable":true}}},"preprocessors_space":[{"date_time.DateTimePreprocessor":{"auger_enabled":true}},{"categorical.CategoricalPreprocessor":{"auger_enabled":true,"max_categoricals_nunique":{"type":"int","bounds":[1,null],"default":50}}},{"nan.NanPreprocessor":{"thresh_col":{"type":"float","bounds":[0.0,1.0],"default":0.95},"auger_enabled":true}},{"eliminate.EliminatePreprocessor":{"thresh_var":{"type":"float","bounds":[0.0,1.0],"default":0.05},"auger_enabled":true}},{"sparse.SparsePreprocessor":{"n_comp_frac":{"type":"float","bounds":[0.1,1.0],"default":0.2},"auger_enabled":true,"thresh_sparse":{"type":"float","bounds":[0.1,1.0],"default":0.95}}},{"extra.ExtraPreprocessor":{"auger_enabled":true}},{"scale.ScalePreprocessor":{"auger_enabled":true}},{"dim_reduction.DimReductionPreprocessor":{"alg_name":{"type":"categorical","values":["PCA","t-SNE"],"default":"PCA"},"n_components":{"type":"int","bounds":[1,null],"default":2},"auger_enabled":false}}],"search_space_ensembles":{"auger_ml.ensembles.algorithms.AveragingAlgorithmRegressor":{"n_best":3,"weights":null},"auger_ml.ensembles.algorithms.SuperLearnerAlgorithmRegressor":{"method":"nnls","opt_trials":3}}},"timeseries":{"k_folds":3,"scoring":"r2","selectors":{},"model_type":"timeseries","learning_algorithms":{"sklearn.svm.SVR":{"C":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"gamma":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"degree":{"log":false,"type":"int","bounds":[1,5],"tunable":true},"kernel":{"type":"categorical","values":["rbf","sigmoid","poly"],"tunable":true},"epsilon":{"log":true,"type":"float","bounds":[0.0001,1.0],"tunable":true}},"xgboost.XGBRegressor"[...]
- request:
    body: '{"limit": 100, "offset": 0, "project_id": 821, "name": "iris-13.csv", "token":
      "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/project_files
  response:
    body:
      string: '{"data":[{"object":"project_file","deleted":false,"id":2812,"project_id":821,"name":"iris-13.csv","url":"s3://auger-mt-org-cinpns/workspace/projects/my_app/files/3XoGpzbo64gV9mfNiZUVJh-iris-442e48.csv","content_type":null,"status":"processed","image_url":null,"industry":null,"description":null,"statistics":{"count":150,"stat_data":[{"use":true,"range":["4.30","7.90"],"datatype":"double","isTarget":false,"histogram":{"hist":[9,23,14,27,16,26,18,6,5,6],"bin_edges":[4.3,4.66,5.02,5.38,5.74,6.1,6.46,6.82,7.18,7.54,7.9]},"column_name":"sepal_length","orig_datatype":"double","unique_values":35},{"use":true,"range":["2.00","4.40"],"datatype":"double","isTarget":false,"histogram":{"hist":[4,7,22,24,38,31,9,11,2,2],"bin_edges":[2.0,2.24,2.48,2.72,2.96,3.2,3.44,3.6800000000000006,3.92,4.16,4.4]},"column_name":"sepal_width","orig_datatype":"double","unique_values":23},{"use":true,"range":["1.00","6.90"],"datatype":"double","isTarget":false,"histogram":{"hist":[37,13,0,3,8,26,29,18,11,5],"bin_edges":[1.0,1.59,2.18,2.77,3.36,3.95,4.540000000000001,5.130000000000001,5.720000000000001,6.31,6.9]},"column_name":"petal_length","orig_datatype":"double","unique_values":43},{"use":true,"range":["0.10","2.50"],"datatype":"double","isTarget":false,"histogram":{"hist":[41,8,1,7,8,33,6,23,9,14],"bin_edges":[0.1,0.34,0.58,0.82,1.06,1.3,1.54,1.78,2.02,2.26,2.5]},"column_name":"petal_width","orig_datatype":"double","unique_values":22},{"use":true,"datatype":"categorical","isTarget":false,"column_name":"species","value_counts":{"setosa":50,"virginica":50,"versicolor":50},"orig_datatype":"string","unique_values":3,"value_counts_ex":[{"count":50,"value":"virginica"},{"count":50,"value":"setosa"},{"count":50,"value":"versicolor"}]}],"columns_count":5},"error_message":null,"created_at":"2020-05-12T12:27:32.005Z","updated_at":"2020-05-12T12:27:32.050Z"}],"meta":{"status":200,"pagination":{"limit":100,"offset":0,"count":1,"total":1}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6770b844bd0c2b1e829ffe6cecbfc2c1"
    status:
      code: 200
      message: OK
- request:
    body: '{"token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://app-staging.auger.ai/api/v1/project_files/2812
  response:
    body:
      string: '{"data":{"object":"project_file","deleted":true,"id":2812,"project_id":821,"name":"iris-13.csv","url":"s3://auger-mt-org-cinpns/workspace/projects/my_app/files/3XoGpzbo64gV9mfNiZUVJh-iris-442e48.csv","content_type":null,"status":"processed","image_url":null,"industry":null,"desc[...]
