interactions:
- request:
    body: '{"limit": 100, "offset": 0, "name": "mt-org", "token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/organizations
  response:
    body:
      string: '{"data":[{"object":"organization","deleted":false,"id":97,"name":"mt-org","subdomain":"mt-org","main_bucket":"auger-mt-org-cinpns","status":"ready","cluster_mode":"multi_tenant","error_message":null,"created_at":"2019-05-09T23:16:04.971Z","updated_at":"2020-05-11T18:48:27.604Z","subscriptions":[{"object":"subscription","deleted":false,"id":31,"organization_id":97,"stripe_subscription_id":"sub_GneSyphbhHzYt9","msg":null,"status":"active","canceled_at":null,"current_period_end":"2020-05-25T13:09:14.000Z","created_at":"2020-02-25T13:09:16.279Z","updated_at":"2020-04-25T17:16:16.176Z","plans":[{"object":"plan","deleted":false,"id":16,"name":"Custom-Monthly-10000001","interval":"month","amount":19900.0,"currency":"USD","price":{"object":"money","amount":199.0,"currency":"USD"},"platform":"cloud","level":"custom","stripe_plan_id":"plan_Fphl9Xey5zvwqC","public":false,"active":true,"archived":false,"version":10000001,"max_team_users":null,"created_at":"2019-09-18T12:38:54.460Z","updated_at":"2019-09-18T12:38:54.467Z"},{"object":"plan","deleted":false,"id":20,"name":"Custom-Trial
        Worker-10000001","interval":"month","amount":10.0,"currency":"USD","price":{"object":"money","amount":0.1,"currency":"USD"},"platform":"all","level":"custom","stripe_plan_id":"plan_FpiIqHxUbdJiOq","public":false,"active":true,"archived":false,"version":10000001,"max_team_users":null,"created_at":"2019-09-18T13:26:05.094Z","updated_at":"2019-09-18T13:26:05.099Z"}],"payment_status":"succeeded","payment_id":""}],"existing_customer":true,"included_trial_worker_minutes":0,"monthly_trial_worker_minutes_used":1063,"real_time_usage_minutes":0}],"meta":{"status":200,"pagination":{"limit":100,"offset":0,"count":1,"total":1}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c2f17daf56d2ff3783e6b6f0cb9ad6e"
    status:
      code: 200
      message: OK
- request:
    body: '{"limit": 100, "offset": 0, "organization_id": 97, "name": "my_app", "token":
      "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/projects
  response:
    body:
      string: '{"data":[{"object":"project","deleted":false,"id":821,"name":"my_app","status":"running","starter_user_id":20,"deleting":false,"deploy_progress":{"undeployed":0,"undeploying":0,"deploying":0,"deployed":2},"kube_service_port":null,"organization_id":97,"created_at":"2020-03-26T13:36:44.506Z","updated_at":"2020-05-12T12:42:58.037Z","components":[{"object":"component","deleted":false,"id":22014,"name":"credentials","status":"running","cluster_id":5,"project_id":821,"created_at":"2020-05-07T17:31:51.239Z","updated_at":"2020-05-07T17:31:57.467Z"},{"object":"component","deleted":false,"id":22015,"name":"augerml","status":"running","cluster_id":5,"project_id":821,"created_at":"2020-05-07T17:31:51.339Z","updated_at":"2020-05-07T17:32:02.455Z"}],"default_kubernetes_stack":"experimental","default_workers_count":1,"default_worker_type_id":1,"workers_count":1,"worker_type_id":1,"will_be_autoterminated_at":null,"search_space":{"version":1,"optimizers_space":{"auger_ml.optimizers.pso_optimizer.PSOOptimizer":{"phig":0.5,"phip":0.5,"omega":0.5},"auger_ml.warmstart_optimizer.WarmStartOptimizer":{"num_trials":0},"auger_ml.optimizers.de_optimizer.DESaturationOptimizer":{"phi":0.5,"rho":0.7},"auger_ml.optimizers.de_optimizer.DEEliminationOptimizer":{"phi":0.5,"rho":0.7},"auger_ml.optimizers.skopt_base_optimizer.SkOptBaseOptimizer":{"acq_func":"gp_hedge","batch_size":5,"acq_optimizer":"sampling","base_estimator":"GP"},"auger_ml.optimizers.skopt_async_optimizer.SkOptAsyncOptimizer":{"acq_func":"gp_hedge","batch_size":5,"acq_optimizer":"sampling","base_estimator":"GP"},"auger_ml.optimizers.tpe_hyperopt_optimizer.TPEHyperoptOptimizer":{"batch_size":5},"auger_ml.optimizers.hyperopt_async_optimizer.HyperoptAsyncOptimizer":{"batch_size":5},"auger_ml.optimizers.anneal_hyperopt_optimizer.AnnealHyperoptOptimizer":{"batch_size":5},"auger_ml.optimizers.random_search_hyperopt_optimizer.RandomSearchHyperoptOptimizer":{"batch_size":5}},"user_config_dict":{"model_type":"classification","model_group":{"regression":{"k_folds":3,"scoring":"r2","selectors":{},"model_type":"regression","learning_algorithms":{"sklearn.svm.SVR":{"C":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"gamma":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"degree":{"log":false,"type":"int","bounds":[1,5],"tunable":true},"kernel":{"type":"categorical","values":["rbf","sigmoid","poly"],"tunable":true},"epsilon":{"log":true,"type":"float","bounds":[0.0001,1.0],"tunable":true}},"xgboost.XGBRegressor":{"gamma":{"log":true,"type":"float","bounds":[0.001,10.0],"tunable":true},"max_depth":{"log":false,"type":"int","bounds":[3,10],"tunable":true},"objective":{"type":"categorical","values":["reg:squarederror"],"tunable":false},"reg_alpha":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"subsample":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"reg_lambda":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[60,600],"tunable":true},"learning_rate":{"log":false,"type":"float","bounds":[0.01,0.2],"tunable":true},"colsample_bytree":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"min_child_weight":{"log":false,"type":"int","bounds":[1,10],"tunable":true}},"lightgbm.LGBMRegressor":{"silent":{"type":"categorical","values":[-1],"tunable":false},"verbose":{"type":"categorical","values":[-1],"tunable":false},"max_depth":{"log":false,"type":"int","bounds":[3,10],"tunable":true},"reg_alpha":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"subsample":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"num_leaves":{"log":false,"type":"int","bounds":[16,64],"tunable":true},"reg_lambda":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[200,1600],"tunable":true},"learning_rate":{"log":false,"type":"float","bounds":[0.01,0.3],"tunable":true},"colsample_bytree":{"log":false,"type":"float","bounds":[0.6,1.0],"tunable":true}},"sklearn.linear_model.ElasticNet":{"alpha":{"log":false,"type":"float","bounds":[0.0001,1.0],"tunable":true},"l1_ratio":{"log":false,"type":"float","bounds":[0.0001,1.0],"tunable":true}},"sklearn.linear_model.SGDRegressor":{"loss":{"type":"categorical","values":["huber","squared_loss","epsilon_insensitive"],"tunable":true},"alpha":{"log":true,"type":"float","bounds":[1e-05,10.0],"tunable":true},"penalty":{"type":"categorical","values":["l2","l1","elasticnet"],"tunable":true}},"sklearn.ensemble.AdaBoostRegressor":{"loss":{"type":"categorical","values":["linear","square","exponential"],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"learning_rate":{"log":true,"type":"float","bounds":[0.001,1.0],"tunable":true}},"sklearn.tree.DecisionTreeRegressor":{"max_depth":{"log":false,"type":"int","bounds":[1,10],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"sklearn.ensemble.ExtraTreesRegressor":{"bootstrap":{"type":"categorical","values":[false,true],"tunable":true},"max_features":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"sklearn.ensemble.RandomForestRegressor":{"bootstrap":{"type":"categorical","values":[true,false],"tunable":true},"criterion":{"type":"categorical","values":["mse","mae"],"tunable":true},"max_features":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"sklearn.ensemble.GradientBoostingRegressor":{"loss":{"type":"categorical","values":["ls","lad"],"tunable":true},"max_depth":{"log":false,"type":"int","bounds":[1,10],"tunable":true},"subsample":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"max_features":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"learning_rate":{"log":true,"type":"float","bounds":[0.001,1.0],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"auger_ml.algorithms.cat_boost.CatBoostRegressor":{"rsm":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"depth":{"log":false,"type":"int","bounds":[3,10],"tunable":true},"l2_leaf_reg":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"border_count":{"log":false,"type":"int","bounds":[16,128],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[100,800],"tunable":true},"learning_rate":{"log":false,"type":"float","bounds":[0.01,0.3],"tunable":true},"loss_function":{"type":"categorical","values":["RMSE"],"tunable":false},"model_size_reg":{"log":true,"type":"float","bounds":[0.001,10.0],"tunable":true},"allow_writing_files":{"type":"categorical","values":[false],"tunable":false},"feature_border_type":{"type":"categorical","values":["Median","UniformAndQuantiles","GreedyLogSum","MaxLogSum","MinEntropy"],"tunable":true}}},"preprocessors_space":[{"date_time.DateTimePreprocessor":{"auger_enabled":true}},{"categorical.CategoricalPreprocessor":{"auger_enabled":true,"max_categoricals_nunique":{"type":"int","bounds":[1,null],"default":50}}},{"nan.NanPreprocessor":{"thresh_col":{"type":"float","bounds":[0.0,1.0],"default":0.95},"auger_enabled":true}},{"eliminate.EliminatePreprocessor":{"thresh_var":{"type":"float","bounds":[0.0,1.0],"default":0.05},"auger_enabled":true}},{"sparse.SparsePreprocessor":{"n_comp_frac":{"type":"float","bounds":[0.1,1.0],"default":0.2},"auger_enabled":true,"thresh_sparse":{"type":"float","bounds":[0.1,1.0],"default":0.95}}},{"extra.ExtraPreprocessor":{"auger_enabled":true}},{"scale.ScalePreprocessor":{"auger_enabled":true}},{"dim_reduction.DimReductionPreprocessor":{"alg_name":{"type":"categorical","values":["PCA","t-SNE"],"default":"PCA"},"n_components":{"type":"int","bounds":[1,null],"default":2},"auger_enabled":false}}],"search_space_ensembles":{"auger_ml.ensembles.algorithms.AveragingAlgorithmRegressor":{"n_best":3,"weights":null},"auger_ml.ensembles.algorithms.SuperLearnerAlgorithmRegressor":{"method":"nnls","opt_trials":3}}},"timeseries":{"k_folds":3,"scoring":"r2","selectors":{},"model_type":"timeseries","learning_algorithms":{"sklearn.svm.SVR":{"C":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"gamma":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"degree":{"log":false,"type":"int","bounds":[1,5],"tunable":true},"kernel":{"type":"categorical","values":["rbf","sigmoid","poly"],"tunable":true},"epsilon":{"log":true,"type":"float","bounds":[0.0001,1.0],"tunable":true}},"xgboost.XGBRegressor"[...]
- request:
    body: '{"limit": 100, "offset": 0, "project_id": 821, "name": "a87e-loans-603-b-4-be-4-a-1-ab-4-e-71-a-8-f-2-8-babd-1946-f-53-csv-gz",
      "token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/experiments
  response:
    body:
      string: '{"data":[{"object":"experiment","deleted":false,"id":"d54f2f7e0c691157","name":"a87e-loans-603-b-4-be-4-a-1-ab-4-e-71-a-8-f-2-8-babd-1946-f-53-csv-gz","project_id":821,"project_file_id":2763,"data_path_url":"http://f18ef98e.ngrok.io/incoming/uploads/loans-603b4be4-a1ab-4e71-a8f2-8babd1946f53.csv.gz?AWSAccessKeyId=secret\u0026Signature=hcKTE%2F%2BTT89Rtxx0GVDXcP7uHuU%3D\u0026Expires=1588259279","last_experiment_session_id":"7246cfcb991fc3e4","last_experiment_session_status":"error","notes":null,"last_experiment_session_created_at":"2020-04-30T14:33:24.524Z","created_at":"2020-04-30T14:33:24.492Z","updated_at":"2020-04-30T14:33:24.539Z"}],"meta":{"status":200,"pagination":{"limit":100,"offset":0,"count":1,"total":1}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"35c6c74018bde6969710f9395b80bd6d"
    status:
      code: 200
      message: OK
- request:
    body: '{"limit": 100, "offset": 0, "project_id": 821, "experiment_id": "d54f2f7e0c691157",
      "token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/experiment_sessions
  response:
    body:
      string: '{"data":[{"object":"experiment_session","deleted":false,"id":"7246cfcb991fc3e4","number":1,"model_type":null,"top_score_value":null,"starter_user_id":20,"project_id":821,"project_file_id":2763,"experiment_id":"d54f2f7e0c691157","dataset_manifest_id":"080099803d9038e5","status":"error","message":null,"model_settings":{},"search_space":null,"pipelines":[],"created_at":"2020-04-30T14:33:24.524Z","updated_at":"2020-04-30T14:56:17.830Z","statistics":{"count":1419607,"stat_data":[{"use":false,"range":["84.00","1444085.00"],"datatype":"integer","isTarget":false,"histogram":{"hist":[140714,139858,142100,142107,143087,142097,143061,143677,142459,140447],"bin_edges":[84.0,144484.1,288884.2,433284.3,577684.4,722084.5,866484.6000000001,1010884.7,1155284.8,1299684.9,1444085.0]},"column_name":"loan_id","orig_datatype":"integer","unique_values":1419607},{"use":true,"datatype":"hashing","isTarget":false,"column_name":"loan_name","orig_datatype":"string","unique_values":340779,"missing_values":47558},{"use":true,"datatype":"categorical","isTarget":false,"column_name":"original_language","value_counts":{"Arabic":343,"French":66468,"English":929567,"Russian":36155,"Spanish":333810,"Indonesian":1003,"Portuguese":7045,"Vietnamese":1965},"orig_datatype":"string","unique_values":9,"missing_values":43251,"value_counts_ex":[{"count":929567,"value":"English"},{"count":333810,"value":"Spanish"},{"count":66468,"value":"French"},{"count":36155,"value":"Russian"},{"count":7045,"value":"Portuguese"},{"count":1965,"value":"Vietnamese"},{"count":1003,"value":"Indonesian"},{"count":343,"value":"Arabic"}]},{"use":true,"datatype":"hashing","isTarget":false,"column_name":"description","orig_datatype":"string","unique_values":1372657,"missing_values":43285},{"use":true,"datatype":"hashing","isTarget":false,"column_name":"description_translated","orig_datatype":"string","unique_values":963357,"missing_values":452678},{"use":true,"range":["0.00","100000.00"],"datatype":"double","isTarget":false,"histogram":{"hist":[1418155,1308,51,25,17,46,0,0,1,4],"bin_edges":[0.0,10000.0,20000.0,30000.0,40000.0,50000.0,60000.0,70000.0,80000.0,90000.0,100000.0]},"column_name":"funded_amount","orig_datatype":"double","unique_values":674},{"use":true,"range":["25.00","100000.00"],"datatype":"double","isTarget":false,"histogram":{"hist":[1419302,161,55,19,65,0,0,1,0,4],"bin_edges":[25.0,10022.5,20020.0,30017.5,40015.0,50012.5,60010.0,70007.5,80005.0,90002.5,100000.0]},"column_name":"loan_amount","orig_datatype":"double","unique_values":528},{"use":true,"datatype":"categorical","isTarget":false,"column_name":"status","value_counts":{"funded":1350340,"expired":59081,"refunded":6578,"fundRaising":3608},"orig_datatype":"string","unique_values":4,"value_counts_ex":[{"count":1350340,"value":"funded"},{"count":59081,"value":"expired"},{"count":6578,"value":"refunded"},{"count":3608,"value":"fundRaising"}]},{"use":true,"datatype":"hashing","isTarget":false,"column_name":"activity_name","orig_datatype":"string","unique_values":163},{"use":true,"datatype":"categorical","isTarget":false,"column_name":"sector_name","value_counts":{"Arts":28003,"Food":322425,"Health":16581,"Retail":286887,"Housing":60109,"Clothing":81255,"Services":103229,"Education":45647,"Wholesale":2110,"Agriculture":345950,"Construction":18884,"Personal
        Use":51460,"Entertainment":2112,"Manufacturing":15880,"Transportation":39075},"orig_datatype":"string","unique_values":15,"value_counts_ex":[{"count":345950,"value":"Agriculture"},{"count":322425,"value":"Food"},{"count":286887,"value":"Retail"},{"count":103229,"value":"Services"},{"count":81255,"value":"Clothing"},{"count":60109,"value":"Housing"},{"count":51460,"value":"Personal
        Use"},{"count":45647,"value":"Education"},{"count":39075,"value":"Transportation"},{"count":28003,"value":"Arts"},{"count":18884,"value":"Construction"},{"count":16581,"value":"Health"},{"count":15880,"value":"Manufacturing"},{"count":2112,"value":"Entertainment"},{"count":2110,"value":"Wholesale"}]},{"use":true,"datatype":"hashing","isTarget":false,"column_name":"loan_use","orig_datatype":"string","unique_values":887441,"missing_values":43273},{"use":true,"datatype":"hashing","isTarget":false,"column_name":"country_code","orig_datatype":"string","unique_values":96,"missing_values":9},{"use":true,"datatype":"hashing","isTarget":false,"column_name":"country_name","orig_datatype":"string","unique_values":96},{"use":true,"datatype":"hashing","isTarget":false,"column_name":"town_name","orig_datatype":"string","unique_values":21574,"missing_values":161758},{"use":true,"datatype":"categorical","isTarget":false,"column_name":"currency_policy","value_counts":{"shared":1098081,"not
        shared":321526},"orig_datatype":"string","unique_values":2,"value_counts_ex":[{"count":1098081,"value":"shared"},{"count":321526,"value":"not
        shared"}]},{"use":true,"range":["0.10","0.20"],"datatype":"categorical","isTarget":false,"column_name":"currency_exchange_coverage_rate","value_counts":{"0.1":918372,"0.2":179709},"orig_datatype":"double","unique_values":3,"missing_values":321526,"value_counts_ex":[{"count":918372,"value":0.1},{"count":179709,"value":0.2}]},{"u[...]
[...]
