interactions:
- request:
    body: '{"limit": 100, "offset": 0, "name": "mt-org", "token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/organizations
  response:
    body:
      string: '{"data":[{"object":"organization","deleted":false,"id":97,"name":"mt-org","subdomain":"mt-org","main_bucket":"auger-mt-org-cinpns","status":"ready","cluster_mode":"multi_tenant","error_message":null,"created_at":"2019-05-09T23:16:04.971Z","updated_at":"2020-05-11T18:48:27.604Z","subscriptions":[{"object":"subscription","deleted":false,"id":31,"organization_id":97,"stripe_subscription_id":"sub_GneSyphbhHzYt9","msg":null,"status":"active","canceled_at":null,"current_period_end":"2020-05-25T13:09:14.000Z","created_at":"2020-02-25T13:09:16.279Z","updated_at":"2020-04-25T17:16:16.176Z","plans":[{"object":"plan","deleted":false,"id":16,"name":"Custom-Monthly-10000001","interval":"month","amount":19900.0,"currency":"USD","price":{"object":"money","amount":199.0,"currency":"USD"},"platform":"cloud","level":"custom","stripe_plan_id":"plan_Fphl9Xey5zvwqC","public":false,"active":true,"archived":false,"version":10000001,"max_team_users":null,"created_at":"2019-09-18T12:38:54.460Z","updated_at":"2019-09-18T12:38:54.467Z"},{"object":"plan","deleted":false,"id":20,"name":"Custom-Trial
        Worker-10000001","interval":"month","amount":10.0,"currency":"USD","price":{"object":"money","amount":0.1,"currency":"USD"},"platform":"all","level":"custom","stripe_plan_id":"plan_FpiIqHxUbdJiOq","public":false,"active":true,"archived":false,"version":10000001,"max_team_users":null,"created_at":"2019-09-18T13:26:05.094Z","updated_at":"2019-09-18T13:26:05.099Z"}],"payment_status":"succeeded","payment_id":""}],"existing_customer":true,"included_trial_worker_minutes":0,"monthly_trial_worker_minutes_used":1063,"real_time_usage_minutes":0}],"meta":{"status":200,"pagination":{"limit":100,"offset":0,"count":1,"total":1}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c2f17daf56d2ff3783e6b6f0cb9ad6e"
    status:
      code: 200
      message: OK
- request:
    body: '{"limit": 100, "offset": 0, "organization_id": 97, "name": "my_app", "token":
      "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/projects
  response:
    body:
      string: '{"data":[{"object":"project","deleted":false,"id":821,"name":"my_app","status":"running","starter_user_id":20,"deleting":false,"deploy_progress":{"undeployed":0,"undeploying":0,"deploying":0,"deployed":2},"kube_service_port":null,"organization_id":97,"created_at":"2020-03-26T13:36:44.506Z","updated_at":"2020-05-12T12:42:58.037Z","components":[{"object":"component","deleted":false,"id":22014,"name":"credentials","status":"running","cluster_id":5,"project_id":821,"created_at":"2020-05-07T17:31:51.239Z","updated_at":"2020-05-07T17:31:57.467Z"},{"object":"component","deleted":false,"id":22015,"name":"augerml","status":"running","cluster_id":5,"project_id":821,"created_at":"2020-05-07T17:31:51.339Z","updated_at":"2020-05-07T17:32:02.455Z"}],"default_kubernetes_stack":"experimental","default_workers_count":1,"default_worker_type_id":1,"workers_count":1,"worker_type_id":1,"will_be_autoterminated_at":null,"search_space":{"version":1,"optimizers_space":{"auger_ml.optimizers.pso_optimizer.PSOOptimizer":{"phig":0.5,"phip":0.5,"omega":0.5},"auger_ml.warmstart_optimizer.WarmStartOptimizer":{"num_trials":0},"auger_ml.optimizers.de_optimizer.DESaturationOptimizer":{"phi":0.5,"rho":0.7},"auger_ml.optimizers.de_optimizer.DEEliminationOptimizer":{"phi":0.5,"rho":0.7},"auger_ml.optimizers.skopt_base_optimizer.SkOptBaseOptimizer":{"acq_func":"gp_hedge","batch_size":5,"acq_optimizer":"sampling","base_estimator":"GP"},"auger_ml.optimizers.skopt_async_optimizer.SkOptAsyncOptimizer":{"acq_func":"gp_hedge","batch_size":5,"acq_optimizer":"sampling","base_estimator":"GP"},"auger_ml.optimizers.tpe_hyperopt_optimizer.TPEHyperoptOptimizer":{"batch_size":5},"auger_ml.optimizers.hyperopt_async_optimizer.HyperoptAsyncOptimizer":{"batch_size":5},"auger_ml.optimizers.anneal_hyperopt_optimizer.AnnealHyperoptOptimizer":{"batch_size":5},"auger_ml.optimizers.random_search_hyperopt_optimizer.RandomSearchHyperoptOptimizer":{"batch_size":5}},"user_config_dict":{"model_type":"classification","model_group":{"regression":{"k_folds":3,"scoring":"r2","selectors":{},"model_type":"regression","learning_algorithms":{"sklearn.svm.SVR":{"C":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"gamma":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"degree":{"log":false,"type":"int","bounds":[1,5],"tunable":true},"kernel":{"type":"categorical","values":["rbf","sigmoid","poly"],"tunable":true},"epsilon":{"log":true,"type":"float","bounds":[0.0001,1.0],"tunable":true}},"xgboost.XGBRegressor":{"gamma":{"log":true,"type":"float","bounds":[0.001,10.0],"tunable":true},"max_depth":{"log":false,"type":"int","bounds":[3,10],"tunable":true},"objective":{"type":"categorical","values":["reg:squarederror"],"tunable":false},"reg_alpha":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"subsample":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"reg_lambda":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[60,600],"tunable":true},"learning_rate":{"log":false,"type":"float","bounds":[0.01,0.2],"tunable":true},"colsample_bytree":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"min_child_weight":{"log":false,"type":"int","bounds":[1,10],"tunable":true}},"lightgbm.LGBMRegressor":{"silent":{"type":"categorical","values":[-1],"tunable":false},"verbose":{"type":"categorical","values":[-1],"tunable":false},"max_depth":{"log":false,"type":"int","bounds":[3,10],"tunable":true},"reg_alpha":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"subsample":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"num_leaves":{"log":false,"type":"int","bounds":[16,64],"tunable":true},"reg_lambda":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[200,1600],"tunable":true},"learning_rate":{"log":false,"type":"float","bounds":[0.01,0.3],"tunable":true},"colsample_bytree":{"log":false,"type":"float","bounds":[0.6,1.0],"tunable":true}},"sklearn.linear_model.ElasticNet":{"alpha":{"log":false,"type":"float","bounds":[0.0001,1.0],"tunable":true},"l1_ratio":{"log":false,"type":"float","bounds":[0.0001,1.0],"tunable":true}},"sklearn.linear_model.SGDRegressor":{"loss":{"type":"categorical","values":["huber","squared_loss","epsilon_insensitive"],"tunable":true},"alpha":{"log":true,"type":"float","bounds":[1e-05,10.0],"tunable":true},"penalty":{"type":"categorical","values":["l2","l1","elasticnet"],"tunable":true}},"sklearn.ensemble.AdaBoostRegressor":{"loss":{"type":"categorical","values":["linear","square","exponential"],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"learning_rate":{"log":true,"type":"float","bounds":[0.001,1.0],"tunable":true}},"sklearn.tree.DecisionTreeRegressor":{"max_depth":{"log":false,"type":"int","bounds":[1,10],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"sklearn.ensemble.ExtraTreesRegressor":{"bootstrap":{"type":"categorical","values":[false,true],"tunable":true},"max_features":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"sklearn.ensemble.RandomForestRegressor":{"bootstrap":{"type":"categorical","values":[true,false],"tunable":true},"criterion":{"type":"categorical","values":["mse","mae"],"tunable":true},"max_features":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"sklearn.ensemble.GradientBoostingRegressor":{"loss":{"type":"categorical","values":["ls","lad"],"tunable":true},"max_depth":{"log":false,"type":"int","bounds":[1,10],"tunable":true},"subsample":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"max_features":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"learning_rate":{"log":true,"type":"float","bounds":[0.001,1.0],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"auger_ml.algorithms.cat_boost.CatBoostRegressor":{"rsm":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"depth":{"log":false,"type":"int","bounds":[3,10],"tunable":true},"l2_leaf_reg":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"border_count":{"log":false,"type":"int","bounds":[16,128],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[100,800],"tunable":true},"learning_rate":{"log":false,"type":"float","bounds":[0.01,0.3],"tunable":true},"loss_function":{"type":"categorical","values":["RMSE"],"tunable":false},"model_size_reg":{"log":true,"type":"float","bounds":[0.001,10.0],"tunable":true},"allow_writing_files":{"type":"categorical","values":[false],"tunable":false},"feature_border_type":{"type":"categorical","values":["Median","UniformAndQuantiles","GreedyLogSum","MaxLogSum","MinEntropy"],"tunable":true}}},"preprocessors_space":[{"date_time.DateTimePreprocessor":{"auger_enabled":true}},{"categorical.CategoricalPreprocessor":{"auger_enabled":true,"max_categoricals_nunique":{"type":"int","bounds":[1,null],"default":50}}},{"nan.NanPreprocessor":{"thresh_col":{"type":"float","bounds":[0.0,1.0],"default":0.95},"auger_enabled":true}},{"eliminate.EliminatePreprocessor":{"thresh_var":{"type":"float","bounds":[0.0,1.0],"default":0.05},"auger_enabled":true}},{"sparse.SparsePreprocessor":{"n_comp_frac":{"type":"float","bounds":[0.1,1.0],"default":0.2},"auger_enabled":true,"thresh_sparse":{"type":"float","bounds":[0.1,1.0],"default":0.95}}},{"extra.ExtraPreprocessor":{"auger_enabled":true}},{"scale.ScalePreprocessor":{"auger_enabled":true}},{"dim_reduction.DimReductionPreprocessor":{"alg_name":{"type":"categorical","values":["PCA","t-SNE"],"default":"PCA"},"n_components":{"type":"int","bounds":[1,null],"default":2},"auger_enabled":false}}],"search_space_ensembles":{"auger_ml.ensembles.algorithms.AveragingAlgorithmRegressor":{"n_best":3,"weights":null},"auger_ml.ensembles.algorithms.SuperLearnerAlgorithmRegressor":{"method":"nnls","opt_trials":3}}},"timeseries":{"k_folds":3,"scoring":"r2","selectors":{},"model_type":"timeseries","learning_algorithms":{"sklearn.svm.SVR":{"C":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"gamma":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"degree":{"log":false,"type":"int","bounds":[1,5],"tunable":true},"kernel":{"type":"categorical","values":["rbf","sigmoid","poly"],"tunable":true},"epsilon":{"log":true,"type":"float","bounds":[0.0001,1.0],"tunable":true}},"xgboost.XGBRegressor"[...]
- request:
    body: '{"token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/experiment_sessions/a6bc4bdb6607e7c2
  response:
    body:
      string: '{"data":{"object":"experiment_session","deleted":false,"id":"a6bc4bdb6607e7c2","number":2,"model_type":"classification","top_score_value":0.98,"starter_user_id":20,"project_id":476,"project_file_id":2752,"experiment_id":"ffd37911b1b65f38","dataset_manifest_id":"8a77eedce3a26d56","status":"completed","message":"","model_settings":{"status":"completed","end_time":"2020-04-29
        09:06:48.782760","timeouts":[],"start_time":"2020-04-29 09:03:05.824931","error_trials":[],"failed_trials":[{"68244C168B0446B":{"uid":"68244C168B0446B","error":"SIGKILL
        trial because it crashed or killed by memory.","ratio":1.0,"score":0,"budget":null,"scoring":"accuracy","ensemble":false,"task_type":"classification","all_scores":{},"fold_times":[0],"score_name":"accuracy","trialClass":null,"fold_scores":[],"metrics_time":0,"dataset_ncols":0,"dataset_nrows":0,"algorithm_name":"xgboost.XGBClassifier","estimated_time":0,"optimizer_name":"optimizers_service.optimizers.skopt_async_optimizer.SkOptAsyncOptimizer","evaluation_time":146.2700414657593,"algorithm_params":{"gamma":0.2862687919615356,"max_depth":3,"objective":"binary:logistic","reg_alpha":0.5911421242328698,"subsample":0.9207137779383215,"n_estimators":489,"learning_rate":0.05771880287951023,"colsample_bytree":0.799676630272428,"min_child_weight":2},"create_trial_time":"2020-04-29
        09:03:27.394700","estimated_timeout":false,"dataset_manifest_id":"8a77eedce3a26d56","algorithm_params_hash":"0.8000.3000.05832486binary:logistic1.0000.920","experiment_session_id":"a6bc4bdb6607e7c2"}},{"8118CA179550461":{"uid":"8118CA179550461","error":"SIGKILL
        trial because it crashed or killed by memory.","ratio":1.0,"score":0,"budget":null,"scoring":"accuracy","ensemble":false,"task_type":"classification","all_scores":{},"fold_times":[0],"score_name":"accuracy","trialClass":null,"fold_scores":[],"metrics_time":0,"dataset_ncols":0,"dataset_nrows":0,"algorithm_name":"xgboost.XGBClassifier","estimated_time":0,"optimizer_name":"optimizers_service.optimizers.skopt_async_optimizer.SkOptAsyncOptimizer","evaluation_time":36.1279149055481,"algorithm_params":{"gamma":0.04105327849379389,"max_depth":10,"objective":"binary:logistic","reg_alpha":0.1273991801056361,"subsample":0.960240819291584,"n_estimators":343,"learning_rate":0.07973016154164086,"colsample_bytree":0.8736170539515172,"min_child_weight":2},"create_trial_time":"2020-04-29
        09:05:17.781222","estimated_timeout":false,"dataset_manifest_id":"8a77eedce3a26d56","algorithm_params_hash":"0.8720.0000.078102324binary:logistic0.0000.960","experiment_session_id":"a6bc4bdb6607e7c2"}},{"E8A4447ABD13479":{"uid":"E8A4447ABD13479","error":"SIGKILL
        trial because it crashed or killed by memory.","ratio":1.0,"score":0,"budget":null,"scoring":"accuracy","ensemble":false,"task_type":"classification","all_scores":{},"fold_times":[0],"score_name":"accuracy","trialClass":null,"fold_scores":[],"metrics_time":0,"dataset_ncols":0,"dataset_nrows":0,"algorithm_name":"xgboost.XGBClassifier","estimated_time":0,"optimizer_name":"optimizers_service.optimizers.skopt_async_optimizer.SkOptAsyncOptimizer","eva[...]
- request:
    body: '{"limit": 100, "offset": 0, "experiment_session_id": "a6bc4bdb6607e7c2",
      "token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/trials
  response:
    body:
      string: '{"data":[{"object":"trial","deleted":false,"id":"490CEE24CEA047D","experiment_session_id":"a6bc4bdb6607e7c2","project_id":476,"hyperparameter":{"object":"hyperparameter","deleted":false,"id":469415,"algorithm_name":"xgboost.XGBClassifier","algorithm_params":{"gamma":0.001451003613241797,"max_depth":8,"objective":"binary:logistic","reg_alpha":0.08579078043500882,"subsample":0.7242881223357907,"n_estimators":220,"learning_rate":0.01350278672166449,"colsample_bytree":0.7324495841737138,"min_child_weight":6},"algorithm_params_hash":"0.7320.0000.01486216binary:logistic0.0000.725"},"score_name":"accuracy","score_value":0.98,"task_type":"classification","pdf_data":null,"pdf_data_status":"not_requested","raw_data":{"uid":"490CEE24CEA047D","error":null,"ratio":1.0,"score":0.98,"budget":null,"scoring":"accuracy","ensemble":false,"task_type":"classification","all_scores":{"accuracy":0.98,"f1_macro":0.9797235023041475,"f1_micro":0.98,"f1_weighted":0.979963133640553,"neg_log_loss":-1.008233692646027,"recall_macro":0.9791666666666666,"recall_micro":0.98,"precision_macro":0.9814814814814815,"precision_micro":0.98,"recall_weighted":0.98,"precision_weighted":0.9811111111111112},"fold_times":[84.30235314369202],"score_name":"accuracy","trialClass":null,"fold_scores":[0.98],"metrics_time":1.501240491867065,"dataset_ncols":4,"dataset_nrows":100,"algorithm_name":"xgboost.XGBClassifier","estimated_time":0,"optimizer_name":"optimizers_service.optimizers.skopt_async_optimizer.SkOptAsyncOptimizer","evaluation_time":88.75239062309265,"algorithm_params":{"gamma":0.001451003613241797,"max_depth":8,"objective":"binary:logistic","reg_alpha":0.08579078043500882,"subsample":0.7242881223357907,"n_estimators":220,"learning_rate":0.01350278672166449,"colsample_bytree":0.7324495841737138,"min_child_weight":6},"create_trial_time":"2020-04-29
        09:03:27.405269","estimated_timeout":false,"dataset_manifest_id":"8a77eedce3a26d56","algorithm_params_hash":"0.7320.0000.01486216binary:logistic0.0000.725","experiment_session_id":"a6bc4bdb6607e7c2"},"trial_metrics_count":0,"created_at":"2020-04-29T09:06:48.371Z","updated_at":"2020-04-29T09:06:48.371Z"},{"object":"trial","deleted":false,"id":"37914FA1E291446","experiment_session_id":"a6bc4bdb6607e7c2","project_id":476,"hyperparameter":{"object":"hyperparameter","deleted":false,"id":469410,"algorithm_name":"lightgbm.LGBMClassifier","algorithm_params":{"n_jobs":1,"silent":-1,"verbose":-1,"max_depth":7,"reg_alpha":0.09298468103344609,"subsample":0.5091693179785688,"num_leaves":36,"reg_lambda":0.04463409339750114,"n_estimators":109,"learning_rate":0.1938612388761723,"colsample_bytree":0.9164146703831593},"algorithm_params_hash":"0.9160.1947150340.0000.000-10.510-1"},"score_name":"accuracy","score_value":0.96,"task_type":"classification","pdf_data":null,"pdf_data_status":"not_requested","raw_data":{"uid":"37914FA1E291446","error":null,"ratio":1.0,"score":[...]
