version: 2.1

orbs:
  docker: circleci/docker@1.0.1

jobs:
  build-docs:
    parameters:
      python_version:
        default: "3.7"
        type: string
    docker:
      - image: circleci/python:<< parameters.python_version >>
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python<< parameters.python_version >>/site-packages
      - restore_cache:
          keys:
            - a2ml-python-doc-deps-{{ arch }}-<< parameters.python_version >>-{{ .Branch }}-{{ checksum "setup.py" }}
            - a2ml-python-doc-deps-{{ arch }}-<< parameters.python_version >>-{{ .Branch }}
            - a2ml-python-doc-deps-{{ arch }}-<< parameters.python_version >>
      - run:
          name: Install dependencies
          command: |
            pip install ".[docs]"
      - save_cache:
          key: a2ml-python-doc-deps-{{ arch }}-<< parameters.python_version >>-{{ .Branch }}-{{ checksum "setup.py" }}
          paths:
            # https://github.com/circleci/circleci-docs/pull/4214 ???
            - "/usr/local/bin"
            - "/usr/local/lib/python<< parameters.python_version >>/site-packages"
      - run:
          name: Build docs
          command: cd docs/ && make html
      - persist_to_workspace:
          root: docs/build
          paths: html

  publish-docs:
    docker:
      - image: node:10.15.0
    steps:
      - checkout
      - attach_workspace:
          at: docs/build
      - add_ssh_keys:
          fingerprints: "44:aa:23:95:60:12:6b:b5:8d:b2:e5:05:24:1f:94:cf"
      - run:
          name: Deploy docs to gh-pages branch
          command: |
            git config user.email "23641280+augerbot@users.noreply.github.com"
            git config user.name "augerbot"
            npm install -g --silent gh-pages@2.2.0
            gh-pages --dotfiles --message "[skip ci] Updates" --dist docs/build/html
  build:
    docker:
      - image: circleci/python
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run: make config docker-build

  test:
    docker:
      - image: circleci/python
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run: make config docker-test

  publish-pip:
    docker:
      - image: circleci/python
    steps:
      - checkout
      - run:
          command: |
            echo -e "[pypi]" >> ~/.pypirc
            echo -e "username = $PYPI_USERNAME" >> ~/.pypirc
            echo -e "password = $PYPI_PASSWORD" >> ~/.pypirc
      - run: make build
      - run: make release

workflows:
  build-test-publish:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.*/
      - test:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
      - docker/publish:
          cache_from: "augerai/a2ml:latest"
          context: docker-hub
          image: augerai/a2ml
          name: docker-publish-tag
          tag: $CIRCLECI_TAG
          requires:
            - test
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - docker/publish:
          cache_from: "augerai/a2ml:latest"
          context: docker-hub
          image: augerai/a2ml
          name: docker-publish-master
          tag: latest
          requires:
            - test
          filters:
            branches:
              only:
                - master
            tags:
              ignore: /^v.*/
      - publish-pip:
          requires:
            - test
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
          context: pypi

  build-and-publish-docs:
    jobs:
      - build-docs
      - publish-docs:
          requires:
            - build-docs
          filters:
            branches:
              only:
                - master
