interactions:
- request:
    body: '{"limit": 100, "offset": 0, "name": "mt-org", "token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/organizations
  response:
    body:
      string: '{"data":[{"object":"organization","deleted":false,"id":97,"name":"mt-org","subdomain":"mt-org","main_bucket":"auger-mt-org-cinpns","status":"ready","cluster_mode":"multi_tenant","error_message":null,"created_at":"2019-05-09T23:16:04.971Z","updated_at":"2020-05-11T18:48:27.604Z","subscriptions":[{"object":"subscription","deleted":false,"id":31,"organization_id":97,"stripe_subscription_id":"sub_GneSyphbhHzYt9","msg":null,"status":"active","canceled_at":null,"current_period_end":"2020-05-25T13:09:14.000Z","created_at":"2020-02-25T13:09:16.279Z","updated_at":"2020-04-25T17:16:16.176Z","plans":[{"object":"plan","deleted":false,"id":16,"name":"Custom-Monthly-10000001","interval":"month","amount":19900.0,"currency":"USD","price":{"object":"money","amount":199.0,"currency":"USD"},"platform":"cloud","level":"custom","stripe_plan_id":"plan_Fphl9Xey5zvwqC","public":false,"active":true,"archived":false,"version":10000001,"max_team_users":null,"created_at":"2019-09-18T12:38:54.460Z","updated_at":"2019-09-18T12:38:54.467Z"},{"object":"plan","deleted":false,"id":20,"name":"Custom-Trial
        Worker-10000001","interval":"month","amount":10.0,"currency":"USD","price":{"object":"money","amount":0.1,"currency":"USD"},"platform":"all","level":"custom","stripe_plan_id":"plan_FpiIqHxUbdJiOq","public":false,"active":true,"archived":false,"version":10000001,"max_team_users":null,"created_at":"2019-09-18T13:26:05.094Z","updated_at":"2019-09-18T13:26:05.099Z"}],"payment_status":"succeeded","payment_id":""}],"existing_customer":true,"included_trial_worker_minutes":0,"monthly_trial_worker_minutes_used":1063,"real_time_usage_minutes":0}],"meta":{"status":200,"pagination":{"limit":100,"offset":0,"count":1,"total":1}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c2f17daf56d2ff3783e6b6f0cb9ad6e"
    status:
      code: 200
      message: OK
- request:
    body: '{"limit": 100, "offset": 0, "organization_id": 97, "name": "my_app", "token":
      "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/projects
  response:
    body:
      string: '{"data":[{"object":"project","deleted":false,"id":821,"name":"my_app","status":"running","starter_user_id":20,"deleting":false,"deploy_progress":{"undeployed":0,"undeploying":0,"deploying":0,"deployed":2},"kube_service_port":null,"organization_id":97,"created_at":"2020-03-26T13:36:44.506Z","updated_at":"2020-05-12T12:42:58.037Z","components":[{"object":"component","deleted":false,"id":22014,"name":"credentials","status":"running","cluster_id":5,"project_id":821,"created_at":"2020-05-07T17:31:51.239Z","updated_at":"2020-05-07T17:31:57.467Z"},{"object":"component","deleted":false,"id":22015,"name":"augerml","status":"running","cluster_id":5,"project_id":821,"created_at":"2020-05-07T17:31:51.339Z","updated_at":"2020-05-07T17:32:02.455Z"}],"default_kubernetes_stack":"experimental","default_workers_count":1,"default_worker_type_id":1,"workers_count":1,"worker_type_id":1,"will_be_autoterminated_at":null,"search_space":{"version":1,"optimizers_space":{"auger_ml.optimizers.pso_optimizer.PSOOptimizer":{"phig":0.5,"phip":0.5,"omega":0.5},"auger_ml.warmstart_optimizer.WarmStartOptimizer":{"num_trials":0},"auger_ml.optimizers.de_optimizer.DESaturationOptimizer":{"phi":0.5,"rho":0.7},"auger_ml.optimizers.de_optimizer.DEEliminationOptimizer":{"phi":0.5,"rho":0.7},"auger_ml.optimizers.skopt_base_optimizer.SkOptBaseOptimizer":{"acq_func":"gp_hedge","batch_size":5,"acq_optimizer":"sampling","base_estimator":"GP"},"auger_ml.optimizers.skopt_async_optimizer.SkOptAsyncOptimizer":{"acq_func":"gp_hedge","batch_size":5,"acq_optimizer":"sampling","base_estimator":"GP"},"auger_ml.optimizers.tpe_hyperopt_optimizer.TPEHyperoptOptimizer":{"batch_size":5},"auger_ml.optimizers.hyperopt_async_optimizer.HyperoptAsyncOptimizer":{"batch_size":5},"auger_ml.optimizers.anneal_hyperopt_optimizer.AnnealHyperoptOptimizer":{"batch_size":5},"auger_ml.optimizers.random_search_hyperopt_optimizer.RandomSearchHyperoptOptimizer":{"batch_size":5}},"user_config_dict":{"model_type":"classification","model_group":{"regression":{"k_folds":3,"scoring":"r2","selectors":{},"model_type":"regression","learning_algorithms":{"sklearn.svm.SVR":{"C":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"gamma":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"degree":{"log":false,"type":"int","bounds":[1,5],"tunable":true},"kernel":{"type":"categorical","values":["rbf","sigmoid","poly"],"tunable":true},"epsilon":{"log":true,"type":"float","bounds":[0.0001,1.0],"tunable":true}},"xgboost.XGBRegressor":{"gamma":{"log":true,"type":"float","bounds":[0.001,10.0],"tunable":true},"max_depth":{"log":false,"type":"int","bounds":[3,10],"tunable":true},"objective":{"type":"categorical","values":["reg:squarederror"],"tunable":false},"reg_alpha":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"subsample":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"reg_lambda":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[60,600],"tunable":true},"learning_rate":{"log":false,"type":"float","bounds":[0.01,0.2],"tunable":true},"colsample_bytree":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"min_child_weight":{"log":false,"type":"int","bounds":[1,10],"tunable":true}},"lightgbm.LGBMRegressor":{"silent":{"type":"categorical","values":[-1],"tunable":false},"verbose":{"type":"categorical","values":[-1],"tunable":false},"max_depth":{"log":false,"type":"int","bounds":[3,10],"tunable":true},"reg_alpha":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"subsample":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"num_leaves":{"log":false,"type":"int","bounds":[16,64],"tunable":true},"reg_lambda":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[200,1600],"tunable":true},"learning_rate":{"log":false,"type":"float","bounds":[0.01,0.3],"tunable":true},"colsample_bytree":{"log":false,"type":"float","bounds":[0.6,1.0],"tunable":true}},"sklearn.linear_model.ElasticNet":{"alpha":{"log":false,"type":"float","bounds":[0.0001,1.0],"tunable":true},"l1_ratio":{"log":false,"type":"float","bounds":[0.0001,1.0],"tunable":true}},"sklearn.linear_model.SGDRegressor":{"loss":{"type":"categorical","values":["huber","squared_loss","epsilon_insensitive"],"tunable":true},"alpha":{"log":true,"type":"float","bounds":[1e-05,10.0],"tunable":true},"penalty":{"type":"categorical","values":["l2","l1","elasticnet"],"tunable":true}},"sklearn.ensemble.AdaBoostRegressor":{"loss":{"type":"categorical","values":["linear","square","exponential"],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"learning_rate":{"log":true,"type":"float","bounds":[0.001,1.0],"tunable":true}},"sklearn.tree.DecisionTreeRegressor":{"max_depth":{"log":false,"type":"int","bounds":[1,10],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"sklearn.ensemble.ExtraTreesRegressor":{"bootstrap":{"type":"categorical","values":[false,true],"tunable":true},"max_features":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"sklearn.ensemble.RandomForestRegressor":{"bootstrap":{"type":"categorical","values":[true,false],"tunable":true},"criterion":{"type":"categorical","values":["mse","mae"],"tunable":true},"max_features":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"sklearn.ensemble.GradientBoostingRegressor":{"loss":{"type":"categorical","values":["ls","lad"],"tunable":true},"max_depth":{"log":false,"type":"int","bounds":[1,10],"tunable":true},"subsample":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"max_features":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"learning_rate":{"log":true,"type":"float","bounds":[0.001,1.0],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"auger_ml.algorithms.cat_boost.CatBoostRegressor":{"rsm":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"depth":{"log":false,"type":"int","bounds":[3,10],"tunable":true},"l2_leaf_reg":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"border_count":{"log":false,"type":"int","bounds":[16,128],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[100,800],"tunable":true},"learning_rate":{"log":false,"type":"float","bounds":[0.01,0.3],"tunable":true},"loss_function":{"type":"categorical","values":["RMSE"],"tunable":false},"model_size_reg":{"log":true,"type":"float","bounds":[0.001,10.0],"tunable":true},"allow_writing_files":{"type":"categorical","values":[false],"tunable":false},"feature_border_type":{"type":"categorical","values":["Median","UniformAndQuantiles","GreedyLogSum","MaxLogSum","MinEntropy"],"tunable":true}}},"preprocessors_space":[{"date_time.DateTimePreprocessor":{"auger_enabled":true}},{"categorical.CategoricalPreprocessor":{"auger_enabled":true,"max_categoricals_nunique":{"type":"int","bounds":[1,null],"default":50}}},{"nan.NanPreprocessor":{"thresh_col":{"type":"float","bounds":[0.0,1.0],"default":0.95},"auger_enabled":true}},{"eliminate.EliminatePreprocessor":{"thresh_var":{"type":"float","bounds":[0.0,1.0],"default":0.05},"auger_enabled":true}},{"sparse.SparsePreprocessor":{"n_comp_frac":{"type":"float","bounds":[0.1,1.0],"default":0.2},"auger_enabled":true,"thresh_sparse":{"type":"float","bounds":[0.1,1.0],"default":0.95}}},{"extra.ExtraPreprocessor":{"auger_enabled":true}},{"scale.ScalePreprocessor":{"auger_enabled":true}},{"dim_reduction.DimReductionPreprocessor":{"alg_name":{"type":"categorical","values":["PCA","t-SNE"],"default":"PCA"},"n_components":{"type":"int","bounds":[1,null],"default":2},"auger_enabled":false}}],"search_space_ensembles":{"auger_ml.ensembles.algorithms.AveragingAlgorithmRegressor":{"n_best":3,"weights":null},"auger_ml.ensembles.algorithms.SuperLearnerAlgorithmRegressor":{"method":"nnls","opt_trials":3}}},"timeseries":{"k_folds":3,"scoring":"r2","selectors":{},"model_type":"timeseries","learning_algorithms":{"sklearn.svm.SVR":{"C":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"gamma":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"degree":{"log":false,"type":"int","bounds":[1,5],"tunable":true},"kernel":{"type":"categorical","values":["rbf","sigmoid","poly"],"tunable":true},"epsilon":{"log":true,"type":"float","bounds":[0.0001,1.0],"tunable":true}},"xgboost.XGBRegressor"[...]
- request:
    body: '{"token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/projects/821
  response:
    body:
      string: '{"data":{"object":"project","deleted":false,"id":821,"name":"my_app","status":"running","starter_user_id":20,"deleting":false,"deploy_progress":{"undeployed":0,"undeploying":0,"deploying":0,"deployed":2},"kube_service_port":null,"organization_id":97,"created_at":"2020-03-26T13:36:44.506Z[...]
- request:
    body: '{"trial_id": "390955D2AB984D7", "token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://app-staging.auger.ai/api/v1/pipelines
  response:
    body:
      string: '{"data":{"object":"pipeline","deleted":false,"id":"390955D2AB984D7","status":"packaging","lambda_package_s3_path":null,"project_id":821,"organization_id":97,"experiment_session_id":"29654979bf8a1877","trial_id":"390955D2AB984D7","datasource_manifest_name":"iris-13.csv","error_message":null,"avg_prediction_time_sec":null,"is_review_model_enabled":true,"has_review_data":false,"dataset_signature":"14aebfc5a742951d27d3ed79a38aeee9","created_at":"2020-05-12T12:45:54.938Z","updated_at":"2020-05-12T12:45:54.938Z","endpoint_pipelines":[],"trial":{"object":"trial","deleted":false,"id":"390955D2AB984D7","experiment_session_id":"29654979bf8a1877","project_id":821,"hyperparameter":{"object":"hyperparameter","deleted":false,"id":470061,"algorithm_name":"xgboost.XGBClassifier","algorithm_params":{"gamma":0.0853106148370915,"max_depth":5,"objective":"binary:logistic","reg_alpha":0.01987319262008139,"subsample":0.8324561861692711,"n_estimators":81,"learning_rate":0.2717276043638476,"colsample_bytree":0.9520711118473955,"min_child_weight":9},"algorithm_params_hash":"0.9520.1000.27359108binary:logistic0.0000.830"},"score_name":"accuracy","score_value":0.966666666666667,"task_type":"classification","pdf_data":null,"pdf_data_status":"not_requested","raw_data":{"uid":"390955D2AB984D7","error":null,"ratio":1.0,"score":0.9666666666666667,"budget":null,"scoring":"accuracy","ensemble":false,"task_type":"classification","all_scores":{"accuracy":0.9666666666666667,"f1_macro":0.9666666666666666,"f1_micro":0.9666666666666667,"f1_weighted":0.9666666666666667,"neg_log_loss":-0.4502142665286859,"recall_macro":0.9666666666666666,"recall_micro":0.9666666666666667,"precision_macro":0.9666666666666666,"precision_micro":0.9666666666666667,"recall_weighted":0.9666666666666667,"precision_weighted":0.9666666666666667},"fold_times":[2.521429300308228,0.07136988639831543],"score_name":"accuracy","trialClass":null,"fold_scores":[1.0,0.9333333333333333],"metrics_time":0.7118918895721436,"dataset_ncols":4,"dataset_nrows":120,"algorithm_name":"xgboost.XGBClassifier","estimated_time":2.842523883438186,"optimizer_name":"optimizers_service.optimizers.de_optimizer.DEEliminationOptimizer","evaluation_time":4.988600969314575,"algorithm_params":{"gamma":0.0853106148370915,"max_depth":5,"objective":"binary:logistic","reg_alpha":0.01987319262008139,"subsample":0.8324561861692711,"n_estimators":81,"learning_rate":0.2717276043638476,"colsample_bytree":0.9520711118473955,"min_child_weight":9},"create_trial_time":"2020-05-12
        12:39:58.603069","estimated_timeout":false,"dataset_manifest_id":"7fe3e61b23bc3c00","algorithm_params_hash":"0.9520.1000.27359108binary:logistic0.0000.830","experiment_session_id":"29654979bf8a1877"},"trial_metrics_count":0,"created_at":"2020-05-12T12:42:57.168Z","updated_at":"2020-05-12T12:42:57.168Z"}},"meta":{"status":200}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ffb770c732e43d127be81bb9514fc5d1"
    status:
      code: 200
      message: OK
- request:
    body: '{"object": "Pipeline", "id": "390955D2AB984D7", "token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/status
  response:
    body:
      string: '{"data":{"status":"ready"},"meta":{"status":200}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"603b445d105c3c92201d1dc36a501f7a"
    status:
      code: 200
      message: OK
- request:
    body: '{"token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/pipelines/390955D2AB984D7
  response:
    body:
      string: '{"data":{"object":"pipeline","deleted":false,"id":"390955D2AB984D7","status":"ready","lambda_package_s3_path":"s3://auger-mt-org-cinpns/workspace/projects/my_app/models/390955D2AB984D7/export_390955D2AB984D7.zip","project_id":821,"organization_id":97,"experiment_session_id":"29654979bf8a1877","trial_id":"390955D2AB984D7","datasource_manifest_name":"iris-13.csv","error_message":null,"avg_prediction_time_sec":null,"is_review_model_enabled":true,"has_review_data":false,"dataset_signature":"14aebfc5a742951d27d3ed79a38aeee9","created_at":"2020-05-12T12:45:54.938Z","updated_at":"2020-05-12T12:46:01.661Z","stats":null,"daily_model_performance":null,"daily_feature_distribution":null,"target_feature":"species","endpoint_pipelines":[],"trial":{"object":"trial","deleted":false,"id":"390955D2AB984D7","experiment_session_id":"29654979bf8a1877","project_id":821,"hyperparameter":{"object":"hyperparameter","deleted":false,"id":470061,"algorithm_name":"xgboost.XGBClassifier","algorithm_params":{"gamma":0.0853106148370915,"max_depth":5,"objective":"binary:logistic","reg_alpha":0.01987319262008139,"subsample":0.8324561861692711,"n_estimators":81,"learning_rate":0.2717276043638476,"colsample_bytree":0.[...]
