interactions:
- request:
    body: '{"limit": 100, "offset": 0, "name": "mt-org", "token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/organizations
  response:
    body:
      string: '{"data":[{"object":"organization","deleted":false,"id":97,"name":"mt-org","subdomain":"mt-org","main_bucket":"auger-mt-org-cinpns","status":"ready","cluster_mode":"multi_tenant","error_message":null,"created_at":"2019-05-09T23:16:04.971Z","updated_at":"2020-10-16T09:24:54.246Z","subscriptions":[{"object":"subscription","deleted":false,"id":70,"organization_id":97,"stripe_subscription_id":"sub_HzUiwOk9Vzr1cU","msg":null,"status":"active","canceled_at":null,"current_period_end":"2020-11-09T16:00:42.000Z","created_at":"2020-09-09T16:00:43.683Z","updated_at":"2020-10-09T17:58:39.897Z","plans":[{"object":"plan","deleted":false,"id":48,"name":"Custom
        Unlimited","interval":"month","amount":1000000.0,"currency":"USD","price":{"object":"money","amount":10000.0,"currency":"USD"},"platform":"review","level":"custom","stripe_plan_id":"price_1HVI5KJIjB5CQHn36giyn3vM","public":false,"active":true,"archived":false,"version":1,"max_team_users":null,"created_at":"2020-09-25T14:41:22.800Z","updated_at":"2020-09-29T14:34:41.129Z"},{"object":"plan","deleted":false,"id":20,"name":"Custom-Trial
        Worker-10000001","interval":"month","amount":10.0,"currency":"USD","price":{"object":"money","amount":0.1,"currency":"USD"},"platform":"all","level":"custom","stripe_plan_id":"plan_FpiIqHxUbdJiOq","public":false,"active":true,"archived":false,"version":10000001,"max_team_users":null,"created_at":"2019-09-18T13:26:05.094Z","updated_at":"2019-09-18T13:26:05.099Z"},{"object":"plan","deleted":false,"id":16,"name":"Custom-Monthly-10000001","interval":"month","amount":19900.0,"currency":"USD","price":{"object":"money","amount":199.0,"currency":"USD"},"platform":"cloud","level":"custom","stripe_plan_id":"plan_Fphl9Xey5zvwqC","public":false,"active":true,"archived":false,"version":10000001,"max_team_users":null,"created_at":"2019-09-18T12:38:54.460Z","updated_at":"2019-09-18T12:38:54.467Z"}],"payment_status":"succeeded","payment_id":""}],"existing_customer":true,"included_trial_worker_minutes":0,"monthly_trial_worker_minutes_used":2142,"real_time_usage_minutes":0,"included_actual_counts":null,"monthly_actual_counts_used":674100}],"meta":{"status":200,"pagination":{"limit":100,"offset":0,"count":1,"total":1}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b0cd7d88349dbb581090e53b30a2f79"
    status:
      code: 200
      message: OK
- request:
    body: '{"limit": 100, "offset": 0, "organization_id": 97, "name": "a2mlworkspacestaging",
      "token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/projects
  response:
    body:
      string: '{"data":[{"object":"project","deleted":false,"id":855,"name":"a2mlworkspacestaging","status":"running","starter_user_id":20,"deleting":false,"deploy_progress":{"undeployed":0,"undeploying":0,"deploying":0,"deployed":2},"kube_service_port":null,"organization_id":97,"created_at":"2020-08-08T13:27:18.118Z","updated_at":"2020-09-18T21:10:06.255Z","components":[{"object":"component","deleted":false,"id":23273,"name":"credentials","status":"running","cluster_id":4,"project_id":855,"created_at":"2020-09-18T18:27:08.046Z","updated_at":"2020-09-18T18:27:10.471Z"},{"object":"component","deleted":false,"id":23274,"name":"augerml","status":"running","cluster_id":4,"project_id":855,"created_at":"2020-09-18T18:27:08.127Z","updated_at":"2020-09-18T18:27:17.070Z"}],"kubernetes_stack":"experimental","default_kubernetes_stack":"experimental","default_workers_count":2,"default_worker_type_id":1,"workers_count":2,"worker_type_id":1,"will_be_autoterminated_at":null,"search_space":{"version":1,"optimizers_space":{"auger_ml.optimizers.pso_optimizer.PSOOptimizer":{"phig":0.5,"phip":0.5,"omega":0.5},"auger_ml.warmstart_optimizer.WarmStartOptimizer":{"num_trials":0},"auger_ml.optimizers.de_optimizer.DESaturationOptimizer":{"phi":0.5,"rho":0.7},"auger_ml.optimizers.de_optimizer.DEEliminationOptimizer":{"phi":0.5,"rho":0.7},"auger_ml.optimizers.skopt_base_optimizer.SkOptBaseOptimizer":{"acq_func":"gp_hedge","batch_size":5,"acq_optimizer":"sampling","base_estimator":"GP"},"auger_ml.optimizers.skopt_async_optimizer.SkOptAsyncOptimizer":{"acq_func":"gp_hedge","batch_size":5,"acq_optimizer":"sampling","base_estimator":"GP"},"auger_ml.optimizers.tpe_hyperopt_optimizer.TPEHyperoptOptimizer":{"batch_size":5},"auger_ml.optimizers.hyperopt_async_optimizer.HyperoptAsyncOptimizer":{"batch_size":5},"auger_ml.optimizers.anneal_hyperopt_optimizer.AnnealHyperoptOptimizer":{"batch_size":5},"auger_ml.optimizers.random_search_hyperopt_optimizer.RandomSearchHyperoptOptimizer":{"batch_size":5}},"user_config_dict":{"model_type":"classification","model_group":{"regression":{"k_folds":3,"scoring":"r2","selectors":{},"model_type":"regression","provider_info":{"azure":{"learning_algorithms":{"LassoLars":{},"ElasticNet":{},"SGDRegressor":{},"XGBoostRegressor":{},"LightGBMRegressor":{},"ExtraTreesRegressor":{},"FastLinearRegressor":{},"DecisionTreeRegressor":{},"RandomForestRegressor":{},"GradientBoostingRegressor":{},"KNearestNeighborsRegressor":{},"OnlineGradientDescentRegressor":{}}}},"learning_algorithms":{"sklearn.svm.SVR":{"C":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"gamma":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"degree":{"log":false,"type":"int","bounds":[1,5],"tunable":true},"kernel":{"type":"categorical","values":["rbf","sigmoid","poly"],"tunable":true},"epsilon":{"log":true,"type":"float","bounds":[0.0001,1.0],"tunable":true}},"xgboost.XGBRegressor":{"gamma":{"log":true,"type":"float","bounds":[0.001,10.0],"tunable":true},"max_depth":{"log":false,"type":"int","bounds":[3,10],"tunable":true},"objective":{"type":"categorical","values":["reg:squarederror"],"tunable":false},"reg_alpha":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"subsample":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"reg_lambda":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[60,600],"tunable":true},"learning_rate":{"log":false,"type":"float","bounds":[0.01,0.2],"tunable":true},"colsample_bytree":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"min_child_weight":{"log":false,"type":"int","bounds":[1,10],"tunable":true}},"lightgbm.LGBMRegressor":{"silent":{"type":"categorical","values":[-1],"tunable":false},"verbose":{"type":"categorical","values":[-1],"tunable":false},"max_depth":{"log":false,"type":"int","bounds":[3,10],"tunable":true},"reg_alpha":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"subsample":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"num_leaves":{"log":false,"type":"int","bounds":[16,64],"tunable":true},"reg_lambda":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[200,1600],"tunable":true},"learning_rate":{"log":false,"type":"float","bounds":[0.01,0.3],"tunable":true},"colsample_bytree":{"log":false,"type":"float","bounds":[0.6,1.0],"tunable":true}},"sklearn.linear_model.ElasticNet":{"alpha":{"log":false,"type":"float","bounds":[0.0001,1.0],"tunable":true},"l1_ratio":{"log":false,"type":"float","bounds":[0.0001,1.0],"tunable":true}},"sklearn.linear_model.SGDRegressor":{"loss":{"type":"categorical","values":["huber","squared_loss","epsilon_insensitive"],"tunable":true},"alpha":{"log":true,"type":"float","bounds":[1e-05,10.0],"tunable":true},"penalty":{"type":"categorical","values":["l2","l1","elasticnet"],"tunable":true}},"sklearn.ensemble.AdaBoostRegressor":{"loss":{"type":"categorical","values":["linear","square","exponential"],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"learning_rate":{"log":true,"type":"float","bounds":[0.001,1.0],"tunable":true}},"sklearn.tree.DecisionTreeRegressor":{"max_depth":{"log":false,"type":"int","bounds":[1,10],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"sklearn.ensemble.ExtraTreesRegressor":{"bootstrap":{"type":"categorical","values":[false,true],"tunable":true},"max_features":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"sklearn.ensemble.RandomForestRegressor":{"bootstrap":{"type":"categorical","values":[true,false],"tunable":true},"criterion":{"type":"categorical","values":["mse","mae"],"tunable":true},"max_features":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"sklearn.ensemble.GradientBoostingRegressor":{"loss":{"type":"categorical","values":["ls","lad"],"tunable":true},"max_depth":{"log":false,"type":"int","bounds":[1,10],"tunable":true},"subsample":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"max_features":{"log":false,"type":"float","bounds":[0.05,1.0],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[50,300],"tunable":true},"learning_rate":{"log":true,"type":"float","bounds":[0.001,1.0],"tunable":true},"min_samples_leaf":{"log":false,"type":"int","bounds":[1,20],"tunable":true},"min_samples_split":{"log":false,"type":"int","bounds":[2,20],"tunable":true}},"auger_ml.algorithms.cat_boost.CatBoostRegressor":{"rsm":{"log":false,"type":"float","bounds":[0.5,1.0],"tunable":true},"depth":{"log":false,"type":"int","bounds":[3,10],"tunable":true},"l2_leaf_reg":{"log":true,"type":"float","bounds":[0.001,100.0],"tunable":true},"border_count":{"log":false,"type":"int","bounds":[16,128],"tunable":true},"n_estimators":{"log":true,"type":"int","bounds":[100,800],"tunable":true},"learning_rate":{"log":false,"type":"float","bounds":[0.01,0.3],"tunable":true},"loss_function":{"type":"categorical","values":["RMSE"],"tunable":false},"model_size_reg":{"log":true,"type":"float","bounds":[0.001,10.0],"tunable":true},"allow_writing_files":{"type":"categorical","values":[false],"tunable":false},"feature_border_type":{"type":"categorical","values":["Median","UniformAndQuantiles","GreedyLogSum","MaxLogSum","MinEntropy"],"tunable":true}}},"preprocessors_space":[{"date_time.DateTimePreprocessor":{"auger_enabled":true}},{"categorical.CategoricalPreprocessor":{"auger_enabled":true,"max_categoricals_nunique":{"type":"int","bounds":[1,null],"default":50}}},{"nan.NanPreprocessor":{"thresh_col":{"type":"float","bounds":[0.0,1.0],"default":0.95},"auger_enabled":true}},{"eliminate.EliminatePreprocessor":{"thresh_var":{"type":"float","bounds":[0.0,1.0],"default":0.05},"auger_enabled":true}},{"sparse.SparsePreprocessor":{"n_comp_frac":{"type":"float","bounds":[0.1,1.0],"default":0.2},"auger_enabled":true,"thresh_sparse":{"type":"float","bounds":[0.1,1.0],"default":0.95}}},{"extra.ExtraPreprocessor":{"auger_enabled":true}},{"scale.ScalePreprocessor":{"auger_enabled":true}},{"dim_reduction.DimReductionPreprocessor":{"alg_name":{"type":"categorical","values":["PCA","t-SNE"],"default":"PCA"},"n_components":{"type":"int","bounds":[1,null],"default":2},"auger_enabled":false}}],"search_space_ensembles":{"auger_ml.ensembles.algorithms.AveragingAlgorithmRegressor":{"n_best":3,"weights":null},"auger_ml.ensembles.algorithms.SuperLearnerAlgorithmRegressor":{"method":"nnls","opt_trials":3}}},"timeseries":{"k_folds":3,"scoring":"r2","selectors":{},"model_type":"timeseries","provider_info":{"azure":{"learning_algorithms":{"Naive":{},"Average":{},"Prophet":{},"AutoArima":{},"SeasonalNaive":{},"TCNForecaster":{},"SeasonalAverage":{}}}},"learning_algorithms":{"sklearn.svm.SVR":{"C":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"gamma":{"log":true,"type":"float","bounds":[0.0001,25.0],"tunable":true},"degree":{"log":false,"type":"int","bounds":[1,5],"tunable":true},"kernel":{"type":"categorical","values":["rbf","sigmoid","poly"],"tunable":true},"epsilon":{"log":true,"type":"float","bounds":[0.0001,1.0],"tunable":true}},"xgboost.XGBRegressor":{"gamma":{"log":true,"type":"float","bounds":[0.001,10.0],"tun[...]
- request:
    body: '{"token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/pipelines/792B531999554F5
  response:
    body:
      string: '{"data":{"object":"pipeline","deleted":false,"id":"792B531999554F5","status":"ready","lambda_package_s3_path":"s3://auger-mt-org-cinpns/workspace/projects/alex-mt-test-exp/models/792B531999554F5/export_792B531999554F5.zip","project_id":622,"organization_id":97,"experiment_session_id":"3166eb45af2a1ee3","trial_id":"792B531999554F5","datasource_manifest_name":"hl-mp-iris","error_message":null,"avg_prediction_time_sec":9.08,"is_review_model_enabled":true,"has_review_data":true,"dataset_signature":"c11c5659bc405c0cbde4763654d8cc51","created_at":"2020-10-15T13:41:59.565Z","updated_at":"2020-10-15T13:53:08.710Z","provider":"auger","stats":{"errors_count":{"2020-10-16":1},"actuals_count":{"2020-10-15":1},"error_messages":{"2020-10-16":["Prediction
        data missing columns:{''sepal_length'', ''petal_length'', ''petal_width'',
        ''sepal_width''}"]},"predictions_count":{"2020-10-15":1,"2020-10-16":3},"avg_prediction_time_ms":{"2020-10-15":8847,"2020-10-16":9309.333333333334},"score_actuals_errors_count":null,"score_actuals_error_messages":null},"daily_model_performance":{"2020-10-15":1.0},"daily_feature_distribution":{"2020-10-15":{"petal_width":{"avg":0.1,"imp":1.0,"std_dev":0},"sepal_width":{"avg":2.96,"imp":0.034091,"std_dev":0},"petal_length":{"avg":1.0,"imp":0.988636,"std_dev":0},"sepal_length":{"avg":5.38,"imp":0.045455,"std_dev":0},"actual_species":{"imp":0,"dist":{"setosa":1}},"predicted_species":{"imp":0,"dist":{"setosa":1}}}},"daily_divergence":{"2020-10-15":{"petal_width":1.032511708941206,"sepal_width":-0.08987206144928804,"petal_length":2.929389700312304,"sepal_length":0.8278954492770014}},"target_feature":"species","feature_importances":{"petal_width":1.0,"sepal_width":0.03409090909090912,"petal_length":0.9886363636363638,"sepal_length":0.0454545454545455},"endpoint_pipelines":[],"trial":{"object":"trial","deleted":false,"id":"792B531999554F5","experiment_session_id":"3166eb45af2a1ee3","project_id":622,"hyperparameter":{"object":"hyperparameter","deleted":false,"id":478825,"algorithm_name":"auger_ml.algorithms.svm.SVC","algorithm_params":{"C":3.648510909442089,"gamma":4.379439322137618,"degree":2,"kernel":"poly","probability":true},"algorithm_params_hash":"3.75024.500polyTrue"},"score_name":"accuracy","score_value":0.9666666666666667,"task_type":"classification","pdf_data":null,"pdf_data_status":"not_requested","raw_data":{"uid":"792B531999554F5","error":null,"ratio":1.0,"score":0.9666666666666667,"budget":null,"scoring":"accuracy","ensemble":false,"task_type":"classification","all_scores":{"accuracy":0.9666666666666667,"f1_macro":0.966497609144668,"f1_micro":0.9666666666666667,"f1_weighted":0.9666118750530516,"neg_log_loss":-0.847591464110231,"recall_macro":0.9669117647058824,"recall_micro":0.9666666666666667,"precision_macro":0.9679012345679011,"precision_micro":0.9666666666666667,"recall_weighted":0.9666666666666667,"precision_weighted":0.9683703703703704},"fold_times":[0.003134965896606445,0.002964019775390625,0.003035783767700195],"score_name":"accuracy","trialClass":null,"fold_scores":[0.98,0.92,1.0],"metrics_time":0.2171223163604736,"dataset_ncols":4,"dataset_nrows":100,"algorithm_name":"auger_ml.algorithms.svm.SVC","estimated_time":0,"optimizer_name":"optimizers_service.optimizers.de_optimizer.DEEliminationOptimizer","evaluation_time":0.9124460220336914,"algorithm_params":{"C":3.648510909442089,"gamma":4.379439322137618,"degree":2,"kernel":"poly","probability":true},"create_trial_time":"2020-08-03
        11:30:42.566842","estimated_timeout":false,"dataset_manifest_id":"caff6f896419e7fd","algorithm_params_hash":"3.75024.500polyTrue","experiment_session_id":"3166eb45af2a1ee3"},"trial_metrics_count":0,"created_at":"2020-08-03T11:32:03.272Z","updated_at":"2020-08-03T11:32:03.272Z","provider":"auger"}},"meta":{"status":200}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5fae3eff0b5e37ea6008e1cb14c96c53"
    status:
      code: 200
      message: OK
- request:
    body: '{"records": [["setosa", 5.1, 3.5, 1.4, 0.2], ["setosa", 5.2, 3.6, 1.5,
      0.3]], "features": ["a2ml_actual", "sepal_length", "sepal_width", "petal_length",
      "petal_width"], "threshold": null, "pipeline_id": "792B531999554F5", "token":
      "secret"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://app-staging.auger.ai/api/v1/predictions
  response:
    body:
      string: '{"data":{"object":"prediction","deleted":false,"id":"0efadbc5-90ff-4831-91ab-4a821ebb1332","pipeline_id":"792B531999554F5","endpoint_id":null,"status":"running","records_count":2,"time_consumed_ms":null,"result":null,"error_message":null,"created_at":"2020-10-16T14:27:06.498Z","predicted_at":"2020-10-16T14:27:06.498Z","provider":"auger"},"meta":{"status":200}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"66cbf4fdf7b05bd8c3bd3b16382acd3e"
    status:
      code: 200
      message: OK
- request:
    body: '{"token": "secret"}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://app-staging.auger.ai/api/v1/predictions/0efadbc5-90ff-4831-91ab-4a821ebb1332
  response:
    body:
      string: '{"data":{"object":"prediction","deleted":false,"id":"0efadbc5-90ff-4831-91ab-4a821ebb1332","pipeline_id":"792B531999554F5","endpoint_id":null,"status":"done","records_count":2,"time_consumed_ms":9568,"result":{"data":[["setosa",5.1,3.5,1.4,0.2,"setosa"],["setosa",5.2,3.6,1.5,0.3,"setosa"]],"columns":["a2ml_actual","sepal_length","sepal_width","petal_length","petal_width","species"]},"error_message":null,"created_at":"2020-10-16T14:27:06.498Z","predicted_at":"2020-10-16T14:27:06.498Z","provider":"auger"},"meta":{"status":200}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9f319b02164d8d183dff04057b21318f"
    status:
      code: 200
      message: OK
[...]
